@import "../common/variable", "../common/mixin";


html, body{width: 100%; height: 100%;}
// body{ overflow-x: hidden; overflow-y:visible; }

#wrap{width: 100%; height: auto;

  
}

@import "../page/base/headBox";

@import "../page/base/subNavTitleBox";
@import "../page/base/subSearchTabBox";
@import "../page/base/subBookConBox";
@import "../page/base/subPageBtn";

@import "../page/base/footBox";