
/* bookConBox================================================= */
#bookConBox{
  width: 100%; height: 1790px;
  padding-top: 20px;
}
.bookcon_inner{
  width: 1144px; height: auto;
  margin:auto;
}
.bookcon_area {
  float: left;
  width: 560px; height: 330px;
  margin-right: 24px; margin-bottom: 24px;
}
.bookcon_area:nth-child(2n){
  margin-right: 0;
}
.bookcon_area:nth-last-child(2){
  margin-bottom: 0;
}
.bookcon_area a{
  display: block;
  width: 100%; height: 100%;
  padding: 12px; box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.bookcon_img{
  float: left;
  width: 220px; height: 100%;
  border-radius: 10px;
  background-color: #daa;
}
.bookcon_text{
  float: right;
  padding-top: 5px;
  width: 300px; height: 100%;
}
.bookcon_text p{
  width: 100%; height: 42px;
  text-align: left; font-size: 18px; font-family: 'KoPub Batang';
  margin-bottom: 10px;
  background-color: #aaa;
}
.bookcon_text dl{
  width: 100%; height: auto;
}
.bookcon_text dt{
  float: left;
  width: 60px; height: 40px;
  margin-right: 6px;
  text-align: left; font-weight: 600;
  background-color: #aaa;
}
.bookcon_text dd{
  float: left;
  width: calc(100% - 66px); height: 40px;
  text-align: left;
  background-color: #ccc;
}
.bookcon_area > a:hover{outline:2px solid #757575;}
.bookcon_area > a:focus{background-color: #eee;}

