
/* subSearchBox================================================= */
#subSearchBox{
  width: 100%; height: 160px;
  padding: 60px 0;
}
.subsearch_inner{
  width: 816px; height: 40px;
  margin:auto; padding: 2px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
#searchFilter{
  position: relative;
  float: left;
  width: 158px; height: 36px;
  border: 0; 
  text-align: center;
  background-color: transparent;
}
#searchBookBox{
  float: left;
  width: 610px; height: 36px;
  text-indent: 10px;
  outline: none;
}
#searchBookBox:focus{border-radius: 10px; background-color: #eee;}
.searchButton{
  float: right;
  width: 36px; height: 36px;
  border-radius: 10px;
  background-color: #1B2C7A;
}
button i{color:$color_white;}