
/* bookConBox================================================= */
@at-root #bookConBox{

//mobile ------------------------------------
@include mobile{
  width: 100%; height: auto;
  padding-top: 20px;
  @at-root .bookcon_inner{
    display: flex; flex-wrap: wrap; justify-content: space-between;
    width: 100%; height: auto;
    .bookcon_area {
      width: calc(100% - vwUnit(20)); max-width: 450px; height: 340px;
      margin:0 auto;
      padding: 10px 0;
      a{
        @include full;
        padding: 10px; box-sizing: border-box;
        @include shadow;
      }
    }//bookcon_area
  }//bookcon_inner
  .bookcon_img{
    @include blind;
  }
  .extract_content{
    overflow: hidden;
    width: 100%; height: 50px;
    text-align: left; font-size: map-get( $font_size, book2); font-family: nth($font_family_ko,2);
    border-bottom: 2px solid $color_promary2;
    text-overflow: ellipsis;
  }
  @at-root .explanation_content{
    width: 100%; height: auto;
    padding: 10px 0;
    dt{
      float: left;
      width: 60px; height: 40px; line-height: 40px;
      margin-right: 6px;
      text-align: left; font-weight: 600;
    }//dt
    dd{
      float: left;
      overflow: hidden;
      width: calc(100% - 66px); height: 40px; line-height: 40px;
      text-align: left;
      border-bottom: 1px solid $color_gray_op2;
      text-overflow: ellipsis;
      &:last-child{border:none;}
    }//dd
  }//explanation_content
  .bookcon_area > a:hover{outline:2px solid $color_light_gray;}
  .bookcon_area > a:focus{background-color: rgba($color_blackReal,0.1);}
}//mobile


//tablet ------------------------------------
@include tablet{
  width: 100%; height: auto;
    padding-top: 20px;
    @at-root .bookcon_inner{
      width: 610px; height: auto;
      margin:0 auto;}
      
      .bookcon_area {
        width: 100%; height: 330px;
        margin-bottom: 24px;
        
        @for $i from 1 through $sub_newbookCon{
          &:nth-child( #{$i} ) .bookcon_img{ @include img( nth($link_subNewBook, $i) ) }; 
        }

      }
    .bookcon_area:nth-last-child(2){
      margin-bottom: 0;
    }
    .bookcon_area a{
      display: block;
      width: 100%; height: 100%;
      padding: 12px; box-sizing: border-box;
      background-color: #fff;
      @include shadow;
    }
    .bookcon_img{
      float: left;
      width: 220px; height: 100%;
      border-radius: 10px;
    }
    .bookcon_text{
      float: left;
      padding-top: 5px;
      margin-left: 30px;
      width: 300px; height: 100%;
    }
    .extract_content{
      overflow: hidden;
      width: 100%; height: 50px;
      text-align: left; font-size: map-get($font_size, book2 ); font-family: nth($font_family_ko,2);
      margin-bottom: 5px; margin-top: 20px;
      border-bottom: 2px solid $color_promary2;
      text-overflow: ellipsis;
    }
    .explanation_content{
      width: 100%; height: auto;
      dt{
        float: left;
        width: 60px; height: 35px; line-height: 35px;
        margin-right: 6px;
        text-align: left; font-weight: 600;
      }
      dd{
        float: left;
        overflow: hidden;
        width: calc(100% - 66px); height: 35px; line-height: 35px;
        text-align: left;
        text-overflow: ellipsis;
      }
    }
    .bookcon_area > a:hover{outline:2px solid $color_light_gray;}
    .bookcon_area > a:focus{background-color: rgba($color_blackReal,0.1);}
  }//tablet
  
  
  @include laptop{
    width: 100%; height: auto;
    padding-top: 20px;
    .bookcon_inner{
      display: flex; flex-wrap: wrap; justify-content: space-between;
      width: 1144px; height: auto;
      margin:auto;
    }
    .bookcon_area {
      width: 560px; height: 330px;
      margin-bottom: 24px;
      
      @for $i from 1 through $sub_newbookCon{
        &:nth-child( #{$i} ) .bookcon_img{ @include img( nth($link_subNewBook, $i) ) }; 
      }
      
    }
    .bookcon_area:nth-last-child(2){
      margin-bottom: 0;
    }
    .bookcon_area a{
      display: block;
      width: 100%; height: 100%;
      padding: 12px; box-sizing: border-box;
      background-color: #fff;
      @include shadow;
    }
    .bookcon_img{
      float: left;
      width: 220px; height: 100%;
      border-radius: 10px;
    }
    .bookcon_text{
      float: right;
      padding-top: 5px;
      width: 300px; height: 100%;
    }
    .extract_content{
      overflow: hidden;
      width: 100%; height: 52px;
      text-align: left; font-size: map-get($font_size, book2 ); font-family: nth($font_family_ko,2);
      margin-bottom: 5px; margin-top: 20px;
      border-bottom: 2px solid $color_promary2;
      text-overflow: ellipsis;
    }
    .explanation_content{
      width: 100%; height: auto;
      dt{
        float: left;
        width: 60px; height: 35px; line-height: 35px;
        margin-right: 6px;
        text-align: left; font-weight: 600;
      }
      dd{
        float: left;
        overflow: hidden;
        width: calc(100% - 66px); height: 35px; line-height: 35px;
        text-align: left;
        text-overflow: ellipsis;
      }
    }
    .bookcon_area > a:hover{outline:2px solid $color_light_gray;}
    .bookcon_area > a:focus{background-color: rgba($color_blackReal,0.1);}
  }//laptop
}//#bookConBox
