//moblie===========================================================================================
@include handle{
  .award_title, .magazine_title{
    width: 100%; height: 120px;
    padding-top: 40px;
    @include img('award_titleBg.svg');
    .title_inner{
      width: 100%; height: 100%; padding-left: 10px;
      h2{
        width: auto; height: 33px;
        font-size: map-get($font_size, h3); line-height: 33px;
        color:$color_white;
      }
      .award_tab, .magazine_tab{
        display: flex; justify-content: left;
        width: auto; height: 30px;  margin-top: 10px; 
      }
      .title_tab_btn{
        width: 140px; height: 100%;
        margin-right: 10px;
        border-bottom: 1px solid rgba($color_white, 0.5); color:$color_white;
        &.action{border-bottom: 2px solid $color_white;}
        &:hover{ background-color: rgba($color_white, 0.2); border-top-left-radius:10px; border-top-right-radius:10px; }
        &:focus{border-bottom: 2px solid rgba($color_white, 0.5); background-color: rgba($color_white, 0.3); border-top-left-radius:10px; border-top-right-radius:10px;}
      }
    }// title_inner
  }//award_title
  .am_inner_area{
  width: calc(100% - 20px); height: auto;
  margin: auto; margin-top: 18px;
  }
  .book_part_wrapper{
    overflow: hidden;
    width: 100%; height: 325px;
    & > div{
      overflow-x: auto; overflow-y: visible;
      padding-bottom: 25px;
      width: 100%; height: auto;
    }
  }//.book_part_wrapper
@at-root .book_part{
  display: flex; justify-content: space-between; flex-wrap: wrap;
  width: calc(235 * $award_slide - 5)+px; height: 100%;
  .book_con{
    @include shadow;
    position: relative; z-index: 1;
    width: 230px; height: 314px;
    & a{
      @include full;
      text-decoration: none;
      &:hover .action{ display: block; }
      &:focus .action{ display: block; transform: scale(1.02);}
    }
    & .action{
      display: none;
      position: relative;
      width: 100%; height: 100%;
      &::before, &::before{
        content: ""; position: absolute; z-index: -1;
        @include full;
        background-color: rgba($color_black, 0.7);
        border-radius: 10px;
      }
      & dl{
        display: flex; flex-direction: column; justify-content: center;
        width: 100%; height: 100%;
      }
      .title{
        width: 100%; height: auto;
        padding-left: 10px;
        font-size: map-get( $font_size, content1 ); color:$color_white; font-weight: 500;
      }
      .content{
        padding-left: 10px; margin-top: 5px;
        font-size: map-get( $font_size, content2 ); color:$color_white;
      }
    }//action
    }//book_con
}//book_part
  .pn_btn, .more_btn {
    display: none;
  }
}//moblie



//tablet===========================================================================================


//laptop===========================================================================================

@include laptop{
  .award_title, .magazine_title{
    width: 100%; height: 170px;
    padding-top: 104px;
    
    .title_inner{
      width: 1144px; height: 45px;
      margin: auto;
      h2{
        float: left;
        width: auto; height: 45px;
        font-size: map-get($font_size, h2); line-height: 45px;
        color:$color_white;
      }
      .award_tab, .magazine_tab{
        float: right;
        display: flex; justify-content: space-between;
        width: auto; height: 40px;  margin-top: 2px; 
      }
      .title_tab_btn{
        width: 140px; height: 100%;
        margin-right: 10px;
        border-bottom: 1px solid rgba($color_white, 0.5); color:$color_white;
        &.action{border-bottom: 2px solid $color_white;}
        &:hover{ background-color: rgba($color_white, 0.2); border-top-left-radius:10px; border-top-right-radius:10px; }
        &:focus{border-bottom: 2px solid rgba($color_white, 0.5); background-color: rgba($color_white, 0.3); border-top-left-radius:10px; border-top-right-radius:10px;}
      }
    }// title_inner
  }//award_title
  .am_inner_area{
  width: 1170px; height: 400px;
  margin: auto; margin-top: 24px;
  }
@at-root .book_part{
  display: flex; justify-content: space-between; flex-wrap: wrap;
  width: calc(235 * $award_slide - 5)+px; height: auto;
  @at-root .book_con{
    @include shadow;
    position: relative; z-index: 1;
    width: 230px; height: 314px;
    & a{
      @include full;
      text-decoration: none;
      &:hover .action{ display: block; }
      &:focus .action{ display: block; transform: scale(1.02);}
    }
    & .action{
      position: relative;
      display: none;
      width: 100%; height: 100%;
      &::before, &::before{
        content: ""; position: absolute; z-index: -1;
        @include full;
        background-color: rgba($color_black, 0.7);
        border-radius: 10px;
      }//before
      & dl{
        display: flex; flex-direction: column; justify-content: center;
        width: 100%; height: 100%;
      }
      .title{
        width: 100%; height: auto;
        padding-left: 10px;
        font-size: map-get( $font_size, content1 ); color:$color_white; font-weight: 500;
      }
      .content{
        padding-left: 10px; margin-top: 5px;
        font-size: map-get( $font_size, content2 ); color:$color_white;
      }
    }//action
    }
}
  .pn_btn {
    position: absolute; top: 640px; left: 50%; margin-left: -105px;
    width: 215px; height: 30px;
  }
  .more_btn{
    position: absolute; top: 640px; left: 50%; margin-left: -70px;
    width: 140px; height: 30px;
  }
  #magazineBox .pn_btn, #magazineBox .more_btn{top: 535px;}
    .more_btn a{
      @include full;
      text-align: center; line-height: 30px;
      font-size: map-get($font_size, content2 ); font-weight: 700; color:$color_black;
      &:hover{ text-decoration: none; color:$color_promary2;}
    }
}//laptop


