
/* pageBtn================================================= */
@at-root #pageBtn{

  @include mobile{
    width: 100%; height: auto;
    padding: 50px 0;
    @at-root .pagebtn_inner{
      width: 310px; height: 40px; margin:auto;
      ul{
        float: left; width: auto; height: 40px;
        li{
          float:left;
          width: 40px; height: 40px;
          margin-right:5px;
          
        }
      }
    }
    .pagebtn_inner .sub_next_btn{
      float: right;
    }
    .next_btn_detail{margin-right: 0;}
    .end_btn_detail, .start_btn_detail{@include blind;}
    .sub_page_btn li:nth-last-child(-n+5){@include blind;}
    .pagebtn_inner button{
      display: block;
      width: 100%; height: 100%;
      border-radius:10px;
      background-color: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
      &:hover{
        background-color: #EB4C38; color:#fff;
        }
      } 
  }//@include mobile

  @include tablet{
    width: 100%; height: 180px;
    padding-top: 55px;
    @at-root .pagebtn_inner{
      width: 600px; height: 40px; margin:auto;
      ul{
        float: left; width: auto; height: 40px;
        li{
          float:left;
          width: 40px; height: 40px;
          margin-right:10px;
        }
      }
    }
    .pagebtn_inner .sub_next_btn{
      float: right;
    }
    .next_btn_detail{margin-right: 0;}
    .end_btn_detail, .start_btn_detail{@include blind;}
    .pagebtn_inner button{
      display: block;
      width: 100%; height: 100%;
      border-radius:10px;
      background-color: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
      &:hover{
        background-color: #EB4C38; color:#fff;
        }
      } 
}//@include tablet

  @include laptop{
    width: 100%; height: 180px;
    padding-top: 55px;
.pagebtn_inner{
  width: 690px; height: 40px;
  margin:auto;
}
.pagebtn_inner ul{
  float: left;
  width: auto; height: 100%;
}
.pagebtn_inner .sub_next_btn{
  float: right;
}
.pagebtn_inner li{
  float:left;
  width: 40px; height: 40px;
  margin-right: 10px;
}
.sub_prev_btn li{float: right;}
.sub_next_btn li:last-child{margin-right: 0;}
.pagebtn_inner button{
  display: block;
  width: 100%; height: 100%;
  border-radius:10px;
  background-color: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.pagebtn_inner button:hover{
  background-color: #EB4C38; color:#fff;
} 
}// @include laptop
}