@at-root #brandlistBox{
  @include handle{
    width: 100%; height: auto;
    background-image: linear-gradient(to top, rgba($color_black,0.1) 95%, $color_white 95%);
    margin: 50px 0;
    // background-color: #dda;

    @at-root .brandlist_text_area{
      width: vwUnit(300); max-width: 500px; height: auto;
      padding: 20px 10px;
      background-color: $color_primary1; color: $color_white; border-radius: 10px;
      h3{
        width: 100%; height: auto;
        font-size: map-get($font_size, h3); padding-left: 10px; margin-bottom: 20px;
        word-break: keep-all;
      }
      p{
        width: 100%; height: auto;
        &:nth-of-type(1){ margin-bottom: 20px;}
      }
    }


    @at-root .brandlist_logo_area{
      display: flex; justify-content: center;
      width: vwUnit(300); height: auto;
      padding: 0 10px; 
      ul{
        display: flex; flex-wrap: wrap; 
        width: vwUnit(265); height: auto;
      }
      & li{
        width: 100px; height: 100px;
        margin: 40px vwUnit(5);
        a{
          @include full;
          overflow: hidden;
          background-color: $color_white;
          border-radius: 80px;
          &:hover{outline: 2px solid $color_light_gray;}
          &:focus{outline: 3px solid $color_promary2;}
        }

        @for $i from 1 through $brandlist_slide{
          &:nth-child( #{$i} ) .img { @include img( nth($link_brandlistImg, $i), $size:90% auto ) };
        }//for
        
        .img{width: 100%; height: 100%;}
        .title, .content{@include blind;}
      }
    }//logo_list


  }//handle

  @include mobile{
    .brandlist_text_area{
      margin: 0 auto;
    }//brandlist_text_area

    @at-root .modal_area.action{
      display: none;
      position: fixed; top: 0; left: 0; z-index: 1200;
      width: 100%; height: 100%;
      background-color: #dda;
      .modal_content_inner{
        width: 100%; height: 100%;
        padding: 10px;
        background-color: $color_white;
      }
      @at-root .modal_companycontent{
        width: 100%; height: auto;
        dt{
          width: 100%; height: 120px;
          padding-top: 20px;
          h3{
            letter-spacing: -0.1em;
            font-size: map-get($font_size, h2 );
          }
          p{
            width: 100%; height: auto;
            color:$color_promary2; font-weight: 500;
            font-size: map-get($font_size, content2 ); text-transform: uppercase;
          }
        }//dt
        @at-root .modal_companydetail{
          overflow:hidden;
          width: 100%; height: 320px;
          padding:15px vwUnit(10);
          border-bottom: 1px solid rgba($color_black,0.2); border-top: 1px solid rgba($color_black,0.2);
          @at-root .modal_companydetail_part{
            overflow-y: auto; overflow-x: visible;
            width: vwUnit(260); height: 280px; padding-right: 900px;
            div{
              width: 100%; height: auto; 
              p{
                width: vwUnit(280); height: auto;
              }
            }//div
          }//.modal_companydetail_part
        }//modal_companydetail
      }//modal_companycontent
      @at-root .modal_companyinfo{
        width: 100%; height: auto;
        margin-bottom: vwUnit(20);
        p{
          em{text-transform: uppercase; font-weight: 700; margin-right: 5px;}
          // span{}
        }
      }//.modal_companyinfo
      button{
        @include full;
        width: 80px; height: 30px;
        line-height: 30px; text-align: center;
        margin: 0 auto;
        color:$color_black;
        &:hover{color:$color_promary2;}
        &:focus{@include shadow; background-color: rgba($color_black, 0.1);}
      }
    }//modal_area
  }//mobile

  @include tablet{
    .brandlist_text_area{
      margin-left: vwUnit(25);
    }
  }//tablet

  @include tabletAndLaptop{
    position: relative; 

    .modal_area.action{
      display: none;
      width: 100%; height: 100%;
      
      .modal_content_inner{
        position: absolute; top: 0; left: 50%; z-index: 1000;
        transform: translate(-50%, -20%);
        width: 700px; height: 650px;
        padding: 10px;
        background-color: $color_white;
        @include shadow;
      }//modal_content_inner
      @at-root .modal_companycontent{
        width: 100%; height: auto;
        dt{
          width: 100%; height: 120px;
          padding-top: 20px;
          padding-left: 20px;
          h3{
            letter-spacing: -0.1em;
            font-size: map-get($font_size, h2 );
          }
          p{
            width: 100%; height: auto;
            color:$color_promary2; font-weight: 500;
            font-size: map-get($font_size, content2 ); text-transform: uppercase;
          }
        }//dt
        @at-root .modal_companydetail{
          overflow:hidden;
          width: 100%; height: 320px;
          padding:15px 20px;
          border-bottom: 1px solid rgba($color_black,0.2); border-top: 1px solid rgba($color_black,0.2);
          @at-root .modal_companydetail_part{
            overflow-y: auto; overflow-x: visible;
            width: 640px; height: 280px; padding-right: 900px;
            div{
              width: 100%; height: auto; 
              p{width: 640px; height: auto;}
            }//div
          }//.modal_companydetail_part
        }//modal_companydetail
      }//modal_companycontent
      @at-root .modal_companyinfo{
        width: 100%; height: auto;
        margin: 20px 0 60px;
        p{
          padding-left: 20px;
          em{text-transform: uppercase; font-weight: 700; margin-right: 5px;}
          // span{}
        }
      }//.modal_companyinfo
      button{
        @include full;
        width: 80px; height: 30px;
        line-height: 30px; text-align: center;
        margin: 0 auto;
        color:$color_black;
        &:hover{color:$color_promary2;}
        &:focus{@include shadow; background-color: rgba($color_black, 0.1);}
      }
      .modal_bg{
        position: fixed; z-index: 50; top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 100%; height: 100%;
        background-color: rgba($color_blackReal,0.4);
      }
    }

  }//tabletAndLaptop

  @include laptop{
    width: 1145px; height: 3200px;
    margin: 150px auto 50px; padding: 20px;
    background-color: rgba($color_black,0.1);
    border-radius: 10px;
    
    @at-root .brandlist_text_area{
        width: 600px;  height: auto;
        padding: 20px 10px;
        background-color: $color_primary1; color: $color_white; border-radius: 10px;
        margin-top: -100px;
      h3{
        width: 100%; height: auto;
        font-size: map-get($font_size, h3); padding-left: 10px; margin-bottom: 20px;
        word-break: keep-all;
      }
      p{
        width: 100%; height: auto;
        &:nth-of-type(1){ margin-bottom: 20px;}
      }
    }


    @at-root .brandlist_logo_area{
      width: 100%; height: auto;
      ul{
        display: flex; flex-wrap: wrap; 
        padding: 20px 5px;
        width: 100%; height: auto;
        margin: auto;
      }
      & li{
        width: 265px; height: 420px;
        margin: 30px 4px;
        a{
          overflow: hidden;
          background-color: #fff;
          @include full;
          @include shadow;
          text-align: center; text-decoration: none;
          &:hover{background-color: rgba($color_black,0.1);}
          &:focus{outline: 3px solid $color_promary2;}
        }
        
        @for $i from 1 through $brandlist_slide{
          &:nth-child( #{$i} ) .img { @include img( nth($link_brandlistImg, $i), $size:70% auto ) };
        }//for
        
        .img{
          width: 200px; height: 200px; border-radius: 100px;
          margin: 20px auto;
          box-shadow: 0px 5px 10px rgba(0,0,0,0.1); background-color: $color_white;
        }
        .title{
          width: 100%; height: auto;
          font-size: map-get($font_size, content1 ); font-weight: 700; color:$color_primary1;
          margin-bottom: 20px;
        }
        .content{
          width: 100%; height: auto;
          font-size: map-get($font_size, content2 ); color:$color_black;
        }
      }
    }//logo_list

  }//laptop

}//_brandListBox