@import "_subSearchBox";

@at-root #subSearchBox{

  @include handle{
    width: 100%; height: auto;
    padding: 60px 0;
    .sub_nav_tab{
      display: flex; justify-content: space-between;
      width: vwUnit(300); max-width: 610px; height: 30px;
      margin: auto;
      button{
        width: vwUnit(145); max-width: 300px; height: 100%; background-color: $color_white;
        @include shadow;
        &.action{background-color: $color_primary1; color:$color_white; font-weight: 500;}
        &:hover{background-color: rgba(0,0,0,0.2); font-weight: 500;}
        &:focus{outline: none; background-color: rgba(0,0,0,0.3); font-weight: 700; } 
      }
    }

    .subsearch_inner{
      margin: 15px auto;
    }

    @at-root .sub_filter_tab{
      overflow: hidden;
      width: vwUnit(300); max-width: 610px; height: 28px;
      transform: translateX(-50%); margin-left: 50%;
      div{
        width: 100%; height: auto;
        padding-bottom: 30px; 
        overflow-x:auto; overflow-y: visible; 
      }
      @at-root .sub_filter_wrap{
        width: 1650px; height: 28px;
        li{
          float: left;
          width: auto; min-width: 130px; height: 28px;
          margin-right: 10px; 
          background-color: $color_white;
          &:last-child{margin-right: 0;}
          &.action{
            font-weight: 700;
            a{background-color: $color_deep_gray; color:$color_white;}
          }
        }
        a{
          @include full;
          // @include shadow;
          border-radius: 10px; background-color: rgba($color_deep_gray, 0.1);
          text-align: center; line-height: 28px;
          padding: 0 2px;
          text-decoration: none;
          &:hover{background-color: rgba(0,0,0,0.2); font-weight: 500;}
          &:focus{outline: none; background-color: rgba(0,0,0,0.3); font-weight: 700; } 
        }//a
      }//sub_filter_wrap
    }
  }//handle

  @include laptop{

    width: 100%; height: auto;
    padding: 60px 0;
    .sub_nav_tab{
      display: flex; justify-content: space-between;
      width: 816px; height: 30px;
      margin: auto;
      button{
        width: 400px; height: 100%; background-color: $color_white;
        @include shadow;
        &.action{background-color: $color_primary1; color:$color_white; font-weight: 500;}
        &:hover{background-color: rgba(0,0,0,0.2); font-weight: 500;}
        &:focus{outline: none; background-color: rgba(0,0,0,0.3); font-weight: 700; } 
      }
    }

    .subsearch_inner{
      margin: 15px auto;
    }

    @at-root .sub_filter_tab{
      overflow: hidden;
      width: 816px; height: 28px;
      transform: translateX(-50%); margin-left: 50%;
      div{
        width: 100%; height: auto;
        padding-bottom: 30px; 
        overflow-x:auto; overflow-y: visible; 
      }
      @at-root .sub_filter_wrap{
        width: 1650px; height: 28px;
        li{
          float: left;
          width: auto; min-width: 130px; height: 28px;
          margin-right: 10px; 
          background-color: $color_white;
          &:last-child{margin-right: 0;}
          &.action{
            font-weight: 700;
            a{background-color: $color_deep_gray; color:$color_white;}
          }
        }
        a{
          @include full;
          // @include shadow;
          border-radius: 10px; background-color: rgba($color_deep_gray, 0.1);
          text-align: center; line-height: 28px;
          padding: 0 2px;
          text-decoration: none;
          &:hover{background-color: rgba(0,0,0,0.2); font-weight: 500;}
          &:focus{outline: none; background-color: rgba(0,0,0,0.3); font-weight: 700; } 
        }
      }
    }

  }

}