
/* awardBox
============================================================================== */
#awardBox{
  position: relative;
  width: 100%; height: auto;
  padding: 105px 0;

  @import "../base/mainCommonBox";
}

