/* bookclubBox
============================================================================== */
@at-root #bookclubBox{

  @include mobile{
    width: 100%; height: auto;
    background: linear-gradient(to top, rgba(177,177,177,0.5) 50%, #fff 50%);
    padding-top: 50px; padding-bottom: 100px;

    @at-root .bookclub_inner{
    display: flex; flex-direction: column; justify-content: center;
    width: vwUnit(280); height: 380px;
    margin: auto;
    background-color: $color_white;
    @include shadow;
    dl{
      width: 100%; height: auto;
      .title{ 
        width: vwUnit(120); max-width: 170px; height: vwUnit(120);
        margin: auto; margin-bottom: vwUnit(20);
        @include img('bookClub_img_title.svg',$size:contain);
      }
      dd{width: 100%; height: auto; margin-bottom: vwUnit(20);}
      .sub_title{
        width: 100%; height: auto;
        font-size: map-get($font_size, content2 ); text-align: center; font-weight: 500; color:$color_black;
      }
      .content { @include blind;}
    }
    .bookclub_join{
      width: 160px; height: 30px; margin: 0 auto; line-height: 30px; text-align: center;
      a{
        @include full;
        &:hover{ text-decoration: none; color:$color_promary2; font-weight: 700;}
        &:focus{ @include shadow;  background-color: rgba($color_black, 0.05); }
      }
    }//bookclub_join
  }//bookclub_inner

  }//moblie


  @include tablet{
    width: 100%; height: auto;
    background: linear-gradient(to top, rgba(177,177,177,0.5) 50%, #fff 50%);
    padding-top: 50px; padding-bottom: 100px;

    @at-root .bookclub_inner{
    display: flex; flex-direction: column; justify-content: center;
    width: vwUnit(720, 768); height: 500px;
    margin: 0 auto;
    background-color: $color_white;
    @include shadow;

    dl{width: 100%; height: auto;}
    .title{ 
      width: 160px; height: 170px;
      margin: auto; margin-bottom: vwUnit(5);
      @include img('bookClub_img_title.svg',$size:contain);
    }
    dd{width: 100%; height: auto; background-color: #fff; margin-bottom: vwUnit(10); padding: 0 20px;}
    .sub_title{
      width: 100%; height: auto;
      font-size: map-get($font_size, h3 ); text-align: center; font-weight: 500; color:$color_black;
      margin-bottom: vwUnit(5);
    }
    .content{
          width: 550px; height: auto;
          font-size: map-get($font_size, content2);  font-weight: 500; color:$color_black;
          margin: auto; 
          p:before{
            content: "\f14a"; font-family: 'Font Awesome 5 Free';
            display: block; width: 5px; height: 5px; color: $color_promary2; line-height: 38px;
            margin-left: -25px;
          }
    }
    .bookclub_join{
      width: auto; height: 40px; margin: 0 auto;
      font-weight: 500; font-size: map-get($font_size, content2 ); line-height: 40px;
      a{
        @include full;
        &:hover{ text-decoration: none; color:$color_promary2; font-weight: 700;}
        &:focus{ @include shadow;  background-color: rgba($color_black, 0.05); }
      }
    }//bookclub_join
  }//bookclub_inner
  }//tablet


  @include laptop{
    width: 100%; height: auto;
    background: linear-gradient(to top, rgba(177,177,177,0.5) 50%, #fff 50%);
    padding-top: 50px; padding-bottom: 100px;

    @at-root .bookclub_inner{
    display: flex; flex-direction: column; justify-content: center;
    width: 800px; height: 500px;
    margin: 0 auto;
    background-color: $color_white;
    @include shadow;

    dl{width: 100%; height: auto;}
    .title{ 
      width: 100%; height: auto;
      font-size: map-get($font_size, h2 ); font-weight: 700; color:$color_primary1;
      text-align: center;
      margin: auto; margin-bottom: vwUnit(5);
    }
    dd{width: 100%; height: auto; margin-bottom: vwUnit(10); padding: 0 20px;}
    .sub_title{
      width: 100%; height: auto;
      font-size: map-get($font_size, h3 ); text-align: center; font-weight: 700; color:$color_black;
      margin-bottom: vwUnit(5);
    }
    .content{
          width: 550px; height: auto;
          font-size: map-get($font_size, content2);  font-weight: 500; color:$color_black;
          margin: auto; 
          p:before{
            content: "\f14a"; font-family: 'Font Awesome 5 Free';
            display: block; width: 5px; height: 5px; color: $color_promary2; line-height: 38px;
            margin-left: -25px;
          }
    }
    .bookclub_join{
      width: auto; height: 40px; margin: 0 auto;
      font-weight: 500; font-size: map-get($font_size, content2 ); line-height: 40px;
      a{
        @include full;
        &:hover{ text-decoration: none; color:$color_promary2; font-weight: 700;}
        &:focus{ @include shadow;  background-color: rgba($color_black, 0.05); }
      }
    }//bookclub_join
  }//bookclub_inner
  }//laptop
  }