@at-root #brandlistBox{
  overflow:hidden ;
  width: 100%; height: auto;
  background-color: rgba($color_blackReal,0.1);
  .brandlist_wrap span{@include blind;}
  
  @include handle{
    padding:60px 0 ;
  .brandlist_inner{
    position: relative;
    width: 100%; height: vwUnit(210); max-height: 300px;
    margin: 0 auto;
    h2{
        margin-bottom: 80px;
        width: auto; height: 45px; margin-left: 10px;
      font-size: map-get($font_size, h3); line-height: 45px;
      }

  .brandlist_wrap{
    position: absolute; top: 100px; left: 50%; margin-left: -50vw;
    width: 100vw; height: auto;
  }

  @at-root .brandlist_part{
    position: absolute; top: 0;
    width: vwUnit( calc( 70 * $brandlist_slide) ); max-width: calc(110 * $brandlist_slide)+px; height: auto;
    li{
      transition: all 500ms linear;
      float:left; margin-right: 10px;
      width: vwUnit(60); max-width: 100px; height: vwUnit(60); max-height: 100px;
      border-radius: 10px; background-color: $color_white;
      @for $i from 1 through $brandlist_slide{
        &.brnadlistImg#{$i}{ @include img( nth($link_brandlistImg, $i), $size:95% auto ) };
      }
      &:nth-child(1){opacity: 0.5; transform: scale(0.8);}
      &:nth-child(2){opacity: 0.8; transform: scale(0.9);}
    }//li
  }//brandlist_part


  & > .moreview_btn{
    position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    width: 120px; height: 30px; line-height: 30px; text-align: center;
    & a{@include full;}
  }
  }//inner  
} //moblie




  @include laptop{
    padding: 90px 0;

    @at-root .brandlist_inner{
      position: relative;
      width: 1144px; height: 370px;
      margin: 0 auto;
      h2{
        margin-bottom: 80px;
        width: auto; height: 45px;
        font-size: map-get($font_size, h2); line-height: 45px;
      }
      @at-root .brandlist_wrap{
        // overflow: hidden;
        position: absolute; top: 120px; left: 50%; margin-left: -50vw;
        width: 100vw; height: auto;
        background-color: #dda;
      }
      @at-root .brandlist_part{
        position: absolute; top: 0;
        width: calc( 160 * $brandlist_slide)+px; height: 140px; 
        a{@include full;}
        li{
          transition: all 500ms linear;
          float:left;
          width: 140px; height: 140px; margin-right: 20px;
          border-radius: 10px; background-color: $color_white;
          @for $i from 1 through $brandlist_slide{
            &.brnadlistImg#{$i}{ @include img( nth($link_brandlistImg, $i), $size:90% auto ); };
          }//for
          &:nth-child(1){opacity: 0.5; transform: scale(0.8);}
          &:nth-child(2){opacity: 0.8; transform: scale(0.9);}
        }//li
      }//brandlist_part

      & > .moreview_btn{
        position: absolute; bottom: 0; right: 50%; margin-right: -86px;
        width: 172px; height: 35px; line-height: 35px; text-align: center;
        & a{@include full;}
      }
    }//inner
  }//laptop

  @include maxlaptop{
    .brandlist_wrap{
      // overflow: hidden;
      width: 100%; height: 140px;
      ul{float: left;}
    }
  }
}