
/* magazineBox
============================================================================== */

@at-root #magazineBox{
  position: relative;
  width: 100%; height: auto;
  padding-bottom: 105px;
  // .magazine_title{
  // }
  @import '../base/mainCommonBox';
} //#magazineBox


