#newbookBox{
  width: 100%; height: auto;
  padding-top: 125px;
  
  @at-root .newbook_booklist_wrap{
    overflow:hidden;
    position:absolute;
    top: 100px; left: 50%; margin-left: -50vw;
    width: 100vw; height: 340px;
    padding-left: 30px;
    .newbook_booklist_area{
      width: 100%; height: auto;
      overflow-x: auto; overflow-y:visible;
      padding-top: 2px; padding-bottom: 50px; box-sizing: content-box;
      @at-root .newbook_booklist_part{
        display: flex; justify-content: space-between;
        width: calc(220 * $newbook_slide - 20)+px; height: auto;
        margin-bottom: 30px;
        li{
          width: 200px; height: auto;
          @for $i from 1 through $newbook_slide{
            &:nth-child( #{$i} ) .nb_img{ @include img( nth($link_newbookImg, $i), $size:cover ) };
          }
          a{ @include full;
            @at-root .nb_img{
              width: 100%; height: 265px;
              margin-bottom: 14px;
              @include shadow;
            }
            @at-root .nb_title{
              width: 100%; height: auto;
              font-size: 18px; color:#333; font-weight: 700;
              margin-bottom: 4px;
            }
            @at-root .nb_writer{
              width: 100%; height: auto;
              font-size: 18px; color:#757575;
            }
          }
        }
      }//newbook_booklist_part
    }//newbook_booklist_area
  }//newbook_booklist_wrap
    .newbook_inner .moreview_btn{
      position:absolute; top: 5px; right: 0;
    }
    .newbook_inner .moreview_btn a{
      display: block;
    }

  @include handle{
    .newbook_inner{
      position: relative;
        width: 100%; height: 490px;
      }
      h2{
        float: left; width: auto; height: auto; margin-bottom: 38px;
        margin-left: 10px;
        font-size: map-get($font_size, h3); line-height: 45px;
      }
      .moreview_btn{margin-right: 12px;}
      .prev_next_btn, .stop_btn{display: none;}
  }
  @include mobile{ .newbook_inner{margin:125px 0;} }
  @include tablet{.newbook_inner{margin-top:125px;}}

  @include laptop{
    padding-bottom: 125px;
    h2{
      float: left; width: auto; height: auto; margin-bottom: 38px;
      font-size: map-get($font_size, h2); line-height: 45px;
    }
    .newbook_inner{
      position: relative;
        width: 1100px; height: 490px;
        margin:0 auto;
      }

  }// @include laptop

  @include maxlaptop{
    .newbook_booklist_wrap{
      // left: 50vw; margin-left: -50vw; width: 100vw;
      left: 0; margin: auto; padding-left: 0;
    }
  }
    }// #newBox