
/* shopBox
============================================================================== */
#shopBox{
  
  width: 100%; height: auto;
  background-color: rgba(177,177,177,0.5);
  
  @include handle{
    padding: vwUnit(10) 0 vwUnit(120);
    .shop_inner{
      position: relative;
      width: vwUnit(308); height: vwUnit(204);
      margin: 0 auto;
      h2{
        width: auto; height: 45px;
        color:$color_black; font-size: map-get($font_size, h3); line-height: 45px;
        margin-left: 10px;
      }
      .moreview_btn{margin-right: 10px;}
    }
      @at-root .shop_area{
        display: flex; flex-wrap: wrap; justify-content: space-between;
        width: 100%; height: 100%;
        margin-top: vwUnit(30);
        .shop_con{
          width:vwUnit(100); height: vwUnit(100);
          margin-bottom: vwUnit(4);
          @for $i from 1 through 6{
            &:nth-of-type( #{$i} ){ @include img( nth( $link_bookclubImg, $i ) ) };
          }
            a{ padding: 2%; box-sizing: border-box;
              &:before,&::before{ 
                content: "자세히 보기"; 
                display: none; width: 100%; height: 100%;
                text-align: center; line-height: vwUnit(100); font-size: map-get($font_size, content3 ); font-weight: 500; color:$color_white; 
                margin: auto;
                border: 2px solid $color_white_op; border-radius: 5px;
                box-sizing: border-box;
              }
              &:hover{
                display: block;
                background-color: rgba($color_blackReal, 0.6);
                text-decoration: none;
                &:before,&::before{ display: block;}
              }
            }//a
          &:nth-last-child(-n+5){margin-bottom: 0;}
          &:nth-last-child(-n+2){@include blind;}
          & > a{@include full;}
        }//shop_con
      }//shop_area
      
      .shop_inner .moreview_btn{
        position: absolute; top: 0; right: 0;
        width: 110px; height: 35px;
        a{@include full;}
      }//.shop_inner .moreview_btn
  }//handle


  @include laptop{

  padding: 40px 0 140px;

.shop_inner{
  position: relative;
  width: 1140px; height: 680px;
  margin: 0 auto;
  h2{
    width: auto; height: 45px; 
    color:#333;
    font-size: map-get($font_size, h2); line-height: 45px;
  }//h2
}//.shop_inner

@at-root .shop_area{
    display: flex; flex-wrap: wrap; justify-content: space-between;
    width: 100%; height: auto;
    margin-top: 80px;
    .shop_con{
      width: 270px; height: 270px;
      margin-bottom: 20px;
      background-color: #aa8;
      @for $i from 1 through 8{
        &:nth-of-type( #{$i} ){ @include img( nth( $link_bookclubImg, $i ) ) };
      }
      &.action{
        a{ padding: 2%; box-sizing: border-box;
          &:before,&::before{ 
            content: "자세히 보기"; 
            display: none; width: 100%; height: 100%;
            margin: auto;
            text-align: center; line-height:270px; font-size: map-get($font_size, content2 ); font-weight: 700; color:$color_white; 
            border: 2px solid $color_white_op; box-sizing: border-box; border-radius: 5px;
          }
          &:hover{
            display: block;
            background-color: rgba($color_blackReal, 0.6);
            text-decoration: none;
            &:before,&::before{ display: block;}
          }
        }//a
      }//action
      &:nth-last-child(-n+4){margin-bottom: 0;}
      & > a{@include full;}
    }//shop_con
  }
  .shop_inner .moreview_btn{
    position: absolute; top: 0; right: 0;
    width: 120px; height: 35px;
    text-align: center;
    a{@include full;}
  }
}// laptop
}// #shopBox
  