@at-root #viewBox{
  position: relative;
  width: 100%; height: auto;
  padding-top: 100px;

  @include handle{
    background-image: linear-gradient(to bottom, $color_black 10%, #fff 80%);

    @at-root .view_slide_wrap{
      overflow:hidden;
      width: 100%; height: 395px;
      margin: 0 auto; margin-left: 10px;
      .view_slide_area{
        overflow-x:auto; overflow-y: visible; 
        width: 100%; height:auto;
        padding-bottom: 50px;
      } 
      @at-root .view_slide_part{
        width: calc(calc( 290px * $view_slide ) - 10px); height: auto;
        li{
          float:left;
          width: 280px; height: 385px;
          margin-right: 10px;
          @include shadow;
          @for $i from 1 through $view_slide{
            &:nth-child( #{$i} ) { @include img( nth($link_viewPartImg, $i), $size:cover ) };
          }//for
          &:last-child{margin-right: 0;}
          a{@include full;}
        }//li
      }//view_slide_part
    }//
  
    /* view_indicator-------------------------------------------------------------------- */
    @at-root .view_indicator{
      position: absolute; left: 50%; bottom: -70px;
      width: 300px; height:auto;
      transform:translateX(-50%);
      text-align: center;
      ul{
        float: left;
        width: auto; height: auto;
      }
      li{
        float: left;
        width: 20px; height: 20px;
        margin-right: 20px;
        cursor: pointer;
        a{
          display: block;
          width: 100%; height: 100%;
          border-radius: 5px;
          border: 2px solid #757575; box-sizing: border-box;
          &:hover{
            background-color: rgba($color_blackReal,0.2);
          }
        }//a
      }//li
      &:last-child{        margin-right: 0;      }
      .indicator_btn_click{
        width: 54px;   
        a{background-color: #757575;}
      }//.indicator_btn_click
    }//view_indicator

      .view_stop{
        float: right;
        width: 20px; height: 20px;
        color:#757575; 
      }

  } // handle
  
  @include laptop{
    background-image: linear-gradient(to bottom, $color_black 10%, #fff 70%);
    // background-image: linear-gradient(to bottom, #171717 70%, #fff 30%);
    @at-root .view_slide_wrap{
      overflow:hidden;
      width: 1240px; height: 560px;
      margin: 0 auto;
      .view_slide_area{
        overflow-x:auto; overflow-y: visible; 
        width: 1240px; height:auto;
        padding-bottom: 50px; box-sizing: content-box;
      } 
      .view_slide_part{
        width: calc(calc( 440px * $view_slide ) - 40px); height: auto;
        li{
          float:left;
          width: 400px; height: 550px;
          margin-right: 20px;
          @include shadow;
          @for $i from 1 through $view_slide{
            &:nth-child( #{$i} ) { @include img( nth($link_viewPartImg, $i), $size:cover ) };
          }//for
          &:last-child{margin-right: 0;}
          a{@include full;}
        }
      }
    }
  
    /* view_indicator-------------------------------------------------------------------- */
    .view_indicator{
      position: absolute; left: 50%; bottom: -70px;
      width: 310px; height:auto;
      transform:translateX(-50%);
      text-align: center;
      ul{
        float: left;
        width: auto; height: auto;
      }
      li{
        float: left;
        width: 20px; height: 20px;
        margin-right: 22px;
        cursor: pointer;
        &:last-child{
          margin-right: 0;
        }
        & a{
          display: block;
          width: 100%; height: 100%;
          border-radius: 5px;
          border: 2px solid $color_light_gray;
          &:hover{border:2px solid rgba($color_blackReal,0.2);}
          &:focus{border:2px solid $color_promary2; color: $color_promary2;}
        }
      }
      .indicator_btn_click{
        width: 54px;
        a{
          background-color: $color_light_gray;
          &:hover{background-color:rgba($color_blackReal,0.2); }
        }
      }//indicator_btn_click
    }//view_indicator


      .view_stop{
        float: right;
        width: 20px; height: 20px;
        color:$color_light_gray;
        &:hover{color: rgba($color_blackReal,0.2);}
        & a:focus{
          color: $color_promary2;
          & span{color: inherit;}
        }
      }
  } //laptop
} //#headBox