
/* 
============================================================================== */
#webzineBox{
  width: 100%; height: auto;
  padding: 105px 0; margin-bottom: 90px;

  @include handle {

    .webzine_inner{
      width: 100%; height: 280px;
    }
    .webzine_inner h2{
      width: auto; height: 45px;
      font-size: map-get($font_size, h2); line-height: 45px;
      margin-left: 10px; 
    }
    .webzine_area{
      width: 100%; height: 100%;
      background-color: #fff;
    }
    /* wz_account_part-------------------------------------------------------------------- */
    .wz_account_part{
      @include blind;
    }
    
      /* wz_title_part-------------------------------------------------------------------- */
    .wz_title_part{
      display: flex; 
      margin: 30px 0;
      margin-left: 5px;
    }
      .wz_title_part > section{
        width: auto; height: auto;
        padding: 0 2px;
        margin-right: 4px;
        background-color: #000;
      }
      .wz_title_part button{
        width: 100%; height: 100%; 
        color: #fff; text-align: right; font-size: map-get($font_size, content3 );
        /* background-color: #daa; */
      }
    
    
    /* wz_con_part-------------------------------------------------------------------- */
    
    .wz_con_part{
      overflow: hidden;
      width: 100%; height: 170px;
      &>div{
        overflow-x: auto; overflow-y: visible;
        width: 100%; height: auto;
      }
      ul{
        display: flex; justify-content: space-between; flex-wrap: wrap;
        width: calc(135 * $wabzine_slide - 5)+px; height: 170px;
        // width: 1000px; height: 170px;
      }
    }
    .wz_con_content{
      overflow: hidden;
      width: 130px; height: 170px;
      border:1px solid $color_deep_gray;
      border-radius: 10px;
      padding-top: 5px;
    }
    // .action{display: block;}
    .wz_con_info{
      width: 100%; height: 100%;
    }
    .wz_con_date{
      width: 100%; height: auto;
      color: #eb4c38; font-size: map-get($font_size, book2); text-align: center;
      border-top: 1px solid #eb4c38; border-bottom:1px solid #eb4c38;
      margin: 0 auto;
    }
    .wz_con_title{
        display: flex; flex-direction: column; justify-content: center;
        width: 100%; height: 130px;
        text-align: center; 
        margin: 0 auto;
        background-color: #aad;
      }
        .wz_book_name{
          width: 100%; height: auto;
          font-size: map-get($font_size, book1 );
        }
        .wz_writer_name{
          width: 100%; height: auto;
          font-size: map-get($font_size, book2 );
        }
        .detail{
          @include blind;
        }
    .wz_con_episode{
      @include blind;
    }
  } //mobile
  @include laptop{
    
.webzine_inner{
  width: 1144px; height: 690px;
  margin: auto;
}
.webzine_inner h2{
  margin-bottom: 48px;
}
.webzine_area{
  width: auto; height: auto;
  background-color: #fff;
}
.webzine_area > div{
  float: left;
  width: 380px; height: 600px;
  box-sizing: border-box;
  background-color: #acc;
}
/* wz_account_part-------------------------------------------------------------------- */
.wz_account_part{
  padding-top: 160px; padding-left: 45px;
}
  .wz_account_part p:first-child{
    width: 100%; height: 140px;
    margin-bottom: 38px;
    font-family: 'KoPub Batang';
    background-color: #fff;
  }
  .wz_account_part p:nth-child(2){
    width: 100%; height: auto; min-height: 100px;
    font-family: 'KoPub Batang';
    background-color: #fff;
  }

  /* wz_title_part-------------------------------------------------------------------- */
.wz_title_part{
  margin: 0 2px;
}
  .wz_serial{
    height: 300px;
    padding-top: 200px;
    background-color: #eb4c38;
  }
  .wz_finished{
    width: 100%; height: 150px;
    padding: 50px 0; 
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background-color: #505050;
  }
  .wz_published{
    width: 100%; height: 150px;
    padding: 50px 0;
    background-color: #505050;
  }
  .wz_title_part button{
    width: 100%; height: 100%; 
    color: #fff; text-align: right; font-size: 30px;
    /* background-color: #daa; */
  }


/* wz_con_part-------------------------------------------------------------------- */
.wz_con_part{
  padding: 40px;
}
ul{width: 100%; height: 100%;}
.wz_con_content{display: none;}
.action{display: block;}
.wz_con_info{
  width: 100%; height: 310px;
}
  .wz_con_date{
    width: 100%; height: 43px;
    color: #eb4c38; font-size: 26px; text-align: center;
    border-top: 1px solid #eb4c38; border-bottom:1px solid #eb4c38;
    margin: 0 auto;
  }
  .wz_con_title{
    display: flex; flex-direction: column; justify-content: center;
    width: 100%; height: 265px;
    text-align: center;
    margin: 0 auto;
  }
    .wz_book_name{
      width: 100%; height: auto;
      margin-bottom: 15px;
      font-size: map-get($font_size, book1);
      background-color: #fff;
    }
    .wz_writer_name{
      width: 100%; height: auto;
      margin-bottom: 30px;
      font-size: map-get($font_size, book2);
      background-color: #fff;
    }
    .detail{
      width: 100%; height: auto;
      background-color: #fff;
    }

.wz_con_episode{
  width: 100%; height: 210px;
  padding: 5px; box-sizing: border-box;
  background-color: #bab;
}
.wz_con_episode_link{
  width: 100%; height: 33.3333%;
  padding: 5px; box-sizing: border-box;
  border-bottom: 1px solid #333;
  background-color: #aad;
}
.wz_con_episode a{
  display: block;
  width: 100%; height: 100%;
}
  }//laptop
}//webzineBox