html, body{width: 100%; height: 100%;}
#wrap{width: 1280px; height: auto; padding-top: 100px;}

/* headBox
============================================================================== */
#headBox{
  position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; z-index: 1000;
  width: 100%; height: 100px;
  padding: 20px;
  background-color: #fff;
}
  .head_inner{
    position: relative;
    width: 1100px; height: 60px;
    margin: auto;
  }
    h1{
      float: left;
      width: auto; height: 60px;
      font-weight: 900; font-size: 40px; line-height: 60px;
    }
    #headerNavIcon{
      float:right;
      margin-top: 5px;
      width: 100px; height: auto;
    }
      .headBox_btn{
        position: absolute; top: 5px; right: 0;
        width: 120px; height: auto;
      }
        .gnb_btn{
          float: right;
          width: 50px; height: 50px;
          background-color: #aaa;
        }
          .gnb_btn button{
            /* width: 100%; height: 100%; */
            background-color: #aaa;
          }
        .search_btn{
          float: left;
          width: 50px; height: 50px; 
        }
          .search_btn button{
          /* width: 100%; height: 100%; */
          background-color: #aaa;
        }
      
      /* #gnbBox------------------------------------------------ */
      #gnbBox{
        display: none;
        position:fixed; left: 0; top: 0;
        width: 100%; height: 100%;
      }
        .gnb_wrapper{
          position: absolute; top: 0; left: 50%;  margin-left: -550px;
          width: 1100px; height: auto;
        }
          .gnb_inner{
            width: 100%; height: auto;
            padding-top: 100px;
            color: #fff;
          }
            .gnb_inner>li{
              float: left;
              width: 175px; height: 527px;
              margin-right: 10px;
              background-color: #aad;
            }
            .gnb_inner>li:last-child{
              margin-right: 0;
            }
              .gnb_inner_title{
                width: 100%; height: auto;
              }
                .gnb_inner_title a{
                  display: block;
                  width: 100%; height: 50px;
                  border-bottom: 2px solid #fff;
                  background-color: #faf;
                  }
              .gnb_inner_con{
                width: 100%; height: auto;
              }
                .gnb_inner_con a{
                  display: block;
                  width: 100%; height: 55px;
                  text-indent:10px;
                  border-bottom: 1px solid #fff;
                  background-color: #aaa;
                }
                .gnb_sns{
                  width: 100%; height: auto;
                  text-indent:10px;
                  padding: 2px;
                  background-color: #a5a;
                }
                  .gnb_sns ul{
                    width: 100%; height: 100%;
                  }
                  .gnb_sns a{
                    float: left;
                    width: 30px; height: 30px;
                    margin-right: 4px;
                    background-color: #333;
                  }
                  .gnb_sns a:nth-of-type(5){margin-right: 0;}
          #gnb_close{
            position: absolute; top: 25px; right: 0;
            width: 50px; height: 50px;
          }
            #gnb_close button{
              width: 100%; height: 100%;
              background-color: #add;
            }
      .gnb_bg{
        width: 100%; height: 100%;
        background-color: #333;
      }


/* viewBox
============================================================================== */
#viewBox{
  position: relative;
  width: 100%; height: 620px;
}
  .view_img{
    width: 100%; height:620px;
    background-color: #333;
  }
  .view_indcator{
    position: absolute; left: 50%; bottom: 30px; margin-left: -250px;
    display: flex; justify-content: space-between;
    width: 500px; height: 10px;
    padding: 2px;
  }
    .view_indcator_btn{
      width: 50px; height: 100%;
      cursor: pointer;
    }
    .view_indcator_btn a{
      display: block;
      width: 100%; height: 100%;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.7);
    }
    /* .view_indcator_btn:last-child{
      margin-right: 0;
    } */
    .indcator_btn_click a{
      background-color: #fff;
    }




/* mdpickBox
============================================================================== */
#mdpickBox{
  position: relative;
  overflow: hidden;
  width: 100%; height: 700px;
  padding: 125px 0;
}
  .mdpick_inner{
    position: absolute; top: 125px; left: 50%; margin-left: -40%;
    width: 80%; height: 450px;
  }
    /* .mdpick_inner h2{} */
    .mdpick_tab{
      width: 2000px; height: 30px;
      margin: 44px 0; margin-left: 20px; 
    }
      .mdp_tab_con{
        float:left;
        width: 125px; height: 30px;
        margin-right: 10px;
        cursor: pointer;
      }
      .mdp_tab_con:last-child{
        margin-right: 0;
      }
      .mdp_tab_con button{
        /* width: 100%; height: 100%; */
        border-radius: 10px; box-shadow: 0px 5px 10px #eee;
        background-color: #fff;
      }
      .mdp_tab_con button:hover{
        background-color: #EB4C38; color:#fff;
      }
    .mdpick_booklist_area{
      width: 2000px; height: 275px;
    }
      .mdp_booklist_con{
        float:left;
        width: 200px; height: 275px;
        margin-right: 20px;
        border-radius: 10px; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        background-color: #aaa;
      }
      .mdp_booklist_con a{
        display: block; width: 100%; height: 100%;
        
      }
      .mdp_booklist_con:last-child {
        margin-right: 0;
      }



/* newbookBox
============================================================================== */
#newbookBox{
  position: relative;
  overflow: hidden; 
  width: 100%; height: 700px;
  padding: 125px 0; 
}
  .newbook_inner{
    position: absolute; top: 125px; left: 50%; margin-left: -40%;
    width: 80%; height: 450px;
  }
    .newbook_inner h2{
      float: left; width: auto; height: auto; margin-bottom: 38px;
    }
    .newbook_booklist_area{
      width: 2000px; height: auto;
      margin-bottom: 30px; margin-top: 100px;
    }
      .newbook_booklist_area li{
        float: left;
        width: 200px; height: auto;
        margin-right: 20px;
      }
      .newbook_booklist_area li:last-child{
        margin-right: 0px;
      }
      .newbook_booklist_area a{
        display: block; width: 100%; height: 100%;
      }
        .nb_img{
          width: 100%; height: 265px;
          margin-bottom: 14px;
          border-radius: 10px; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
          background-color: #fff;
        }
        .nb_title{
          width: 100%; height: auto;
          font-size: 18px; color:#333; font-weight: 700;
          margin-bottom: 4px;
        }
        .nb_writer{
          width: 100%; height: auto;
          font-size: 18px; color:#757575;
        }
      .newbook_scroll{
        width: 1140px; height: 6px;
        background-color: #eee;
      }
        .newbook_scroll_bar{
          width: 25%; height:4px;
          background-color:#333;
        }
      .newbook_inner .moreview_btn{
        position:absolute; top: 5px; right: 0;
      }
      .newbook_inner .moreview_btn a{
        display: block;
      }

/* dokpaBox
============================================================================== */
#dokpaBox{
  position: relative; 
  width: 100%; height: 2200px;
  /* height: auto; padding: 240px 0;  */
}
  .dokpa_inner{
    position: absolute; top: 200px; left: 0; right: 0; margin: 0 auto;
    width: 1250px; height: auto; min-height: 700px;
    margin: auto;
  }
    #dokpa_title{
      float: left;
      width: 440px; height: 600px;
      margin-top: 56px; padding: 0 5px; box-sizing: border-box;
      background-color: #cca;
    }
      #dokpa_title>div{
        float:left;
        width: 140px; height: 40px;
        margin-top: 536px; margin-right: 3px;
        background-color: #fff;
      }
      /* .dokpa_tab_challenge{}
      .dokpa_tab_open{} */
      .dokpa_tab_bookex{
        margin-right: 0;
      }
      /* #dokpa_title button{} */
    .dokpa_area{
      float: right;
      width: 780px; height: auto; min-height: 1400px;
    }
      .dokpa_con{
        float: left;
        width: 370px; height: 450px;
        margin-right: 34px; margin-bottom: 34px;
        background-color: #555;
      }
      .dokpa_con:nth-child(2n){
        margin-right: 0;
      }
      .dokpa_con:nth-last-child(-n+2){
        margin-bottom: 0;
      }
        .dokpa_con > .action{
          display: block;
          width: 370px; height: 450px;
          box-sizing: border-box;  padding: 10px; padding-top: 115px;
          background-color: rgba(0,0,0,0.7);
        }
          .sub{
            width: 100%; height: 40px;
            background-color: #fff;
          }
          .title{
            width: 100%; height: 25px;
            margin-top: 18px;
            background-color: #fff;
          }
          hr{ border-color:#fff; 
            margin-top: 10px;}
          .date{
            width: 100%; height: 20px;
            margin-top: 10px;
            background-color: #fff;
          }
          .challenge_btn{
            width: 150px; height: 35px;
            margin: 0 auto; margin-top: 120px;
            background-color: #fff;
          }
          .challenge_btn a{
            display: block;
            width: 100%; height: 100%;}
          



/* awardBox
============================================================================== */
#awardBox{
  position: relative;
  width: 100%; height: auto;
  padding: 105px 0;
}
  .award_title{
    width: 100%; height: 170px;
    padding-top: 104px; box-sizing: border-box;
    background-color: #333;
  }



/* bookclubBox
============================================================================== */
#bookclubBox{
  /* position: relative; */
  width: 100%; height: auto;
  padding-top: 50px; padding-bottom: 100px;
  background: linear-gradient(to top, rgba(177,177,177,0.5) 50%, #fff 50%);
}
.bookclub_inner{
  /* position: absolute; left:50%; top: 50%; margin-left: -400px; margin-top: -230px; */
  width: 800px; height: 460px;
  box-sizing: border-box;  padding: 68px 0; margin: auto; 
  text-align:center;
  border-radius: 10px; box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  background-color: #fff;
}
  .title{
    width: 100%; height: 43px;
    background-color: #acc;
  }
  .sub_title{
    width: 100%; height: 34px;
    margin: 15px 0 40px;
    background-color: #acc;
  }
  .content{
    width: 100%; height: auto; min-height: 165px;
    background-color: #acc; margin-bottom: 10px;
  }
  .bookclub_join{
    width: 200px; height: 40px; 
    margin: auto;
  }
  .bookclub_join a{
    display: block;
    width: 100%; height: 100%;
    background-color: #aad;
  }


/* shopBox
============================================================================== */
#shopBox{
  width: 100%; height: auto;
  padding: 80px 0;
  background-color: rgba(177,177,177,0.5);
}
.shop_inner{
  position: relative;
  width: 1140px; height: 680px;
  margin: 0 auto;
}
  .shop_inner h2{
    color:#333; margin-bottom: 80px;
  }
  .shop_area{
    width: 100%; height: 560px;
    margin-top: 80px;
  }
  .shop_con{
    float: left;
    width: 270px; height: 270px;
    margin-right: 20px; margin-bottom: 20px;
    background-color: #aa8;
  }
  .shop_con:nth-child(4n){margin-right: 0;}
  .shop_con:nth-last-child(-n+4){margin-bottom: 0;}
  .shop_con>a{
    display: block;
    width: 100%; height: 100%;
  }
  .shop_inner .moreview_btn{
    position: absolute; top: 0; right: 0;
    width: 172px; height: 35px;
  }
  .shop_inner .moreview_btn a{
    display: block; width: 100%; height: 100%;
  }
  

/* magazineBox
============================================================================== */
#magazineBox{
  position: relative;
  width: 100%; height: auto;
  padding-bottom: 105px;
}
.magazine_title{
  width: 100%; height: 170px;
  padding-top: 104px; box-sizing: border-box;
  background-color: #333;
}


/* webzineBox
============================================================================== */
#webzineBox{
  width: 100%; height: auto;
  padding: 105px 0; margin-bottom: 90px;
}
.webzine_inner{
  width: 1144px; height: 690px;
  margin: auto;
}
.webzine_inner h2{
  margin-bottom: 48px;
}
.webzine_area{
  width: auto; height: auto;
  background-color: #fff;
}
.webzine_area > div{
  float: left;
  width: 380px; height: 600px;
  box-sizing: border-box;
  background-color: #acc;
}
/* wz_account_part==================== */
.wz_account_part{
  padding-top: 160px; padding-left: 45px;
}
  .wz_account_part p:first-child{
    width: 100%; height: 140px;
    margin-bottom: 38px;
    background-color: #fff;
  }
  .wz_account_part p:nth-child(2){
    width: 100%; height: auto; min-height: 100px;
    background-color: #fff;
  }

  /* wz_title_part==================== */
.wz_title_part{
  margin: 0 2px;
}
  .wz_title_part>div{
    width: 100%;
    box-sizing: border-box; padding-right: 30px;
    font-size: 30px;
  }
  .wz_serial{
    height: 300px;
    padding-top: 200px;
    background-color: #eb4c38;
  }
  .wz_finished{
    width: 100%; height: 150px;
    padding: 50px 0; 
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background-color: #505050;
  }
  .wz_published{
    width: 100%; height: 150px;
    padding: 50px 0;
    background-color: #505050;
  }
  .wz_title_part button{
    width: 100%; height: 100%; 
    color: #fff; text-align: right; font-size: 30px;
    /* background-color: #daa; */
  }


/* wz_con_part==================== */
.wz_con_part{
  padding: 40px;
}
.wz_con_info{
  width: 100%; height: 310px;
}
  .wz_con_date{
    width: 100%; height: 43px;
    color: #eb4c38; font-size: 26px; text-align: center;
    border-top: 1px solid #eb4c38; border-bottom:1px solid #eb4c38;
    margin: 0 auto; margin-bottom: 40px;
  }
  .wz_con_title{
    width: 100%; height: auto; min-height: 220px;
    text-align: center;
    margin: 0 auto;
    /* background-color: #bbb; */
  }
    .wz_con_title p:nth-child(1){
      width: 100%; height: 30px;
      margin-bottom: 15px;
      background-color: #fff;
    }
    .wz_con_title p:nth-child(2){
      width: 100%; height: 30px;
      margin-bottom: 30px;
      background-color: #fff;
    }
    .wz_con_title p:nth-child(3){
      width: 100%; height: auto;
      background-color: #fff;
    }

.wz_con_episode{
  width: 100%; height: 210px;
  padding: 5px; box-sizing: border-box;
  background-color: #bab;
}
.wz_con_episode div{
  width: 100%; height: 33.3333%;
  padding: 5px; box-sizing: border-box;
  border-bottom: 1px solid #333;
  background-color: #aad;
}
.wz_con_episode a{
  display: block;
  width: 100%; height: 100%;
}


/* brandlistBox
============================================================================== */
#brandlistBox{
  overflow:hidden ;
  width: 100%; height: auto;
  box-sizing: border-box;  padding: 90px 0;
  background-color: rgba(85,85,85,0.3);
}
.brandlist_inner{
  position: relative;
  width: 1144px; height: 540px;
  margin: 0 auto;
}
  .brandlist_inner h2{
    margin-bottom: 80px;
  }
  .brandlist_wrap{
    width: 100%; height: 310px;
  }
  .brandlist_wrap>ul{
    width: 2000px; height: 140px;
  }
  .brandlist_part_top{
    margin-bottom: 26px;
  }
  .brandlist_part_bottom{
    margin-left: -70px;
  }
  .brandlist_wrap li{
    float:left;
    width: 140px; height: 140px; margin-right: 26px;
    border-radius: 10px;
    background-color: #555;
  }
  .brandlist_inner > .moreview_btn{
    position: absolute; bottom: 0; right: 50%; margin-right: -86px;
    width: 172px; height: 35px;
  }
  .brandlist_inner .moreview_btn a{
    display: block;
  }


/* footBox
============================================================================== */
#footBox{
  width: 100%; height: auto;
  padding: 60px 0;
  background-color: #444;
}
  .foot_inner{
    width: 1144px; height: 130px;
    margin: auto;
  }
  .foot_inner>div{
    width: 100%; height: auto;
    margin-bottom: 40px;
  }
    .footer_nav{
      float: left;
      width: 730px; height: auto;
      background-color: #aaa;
    }
    .footer_nav ul{
      width: 100%; height: 25px;
    }
      .footer_nav li{
        float:left;
        width: auto; height: 100%;
        margin-right: 40px;
        background-color: #fff;
      }
      .footer_nav li:last-child{margin-right: 0;}
    .sns_link{
      float:right;
      width: 270px; height: auto;
      background-color: #aaa;
    }
    .sns_link ul{
      width: 100%; height: 30px;
    }
      .sns_link li{
        float: left;
        width: 30px; height: 100%;
        margin-right: 30px;
        background-color: #fff;
      }
      .sns_link li:last-child{margin-right: 0;}

  .company_address{
  width: 100%; height: 60px;
  color:#fff;
  }
    address{width: 100%; height: 100%;}
      address p{
      width: 100%; height: auto;
      background-color: #aaa; 
      }
