@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
}

#wrap {
  width: 100%;
  height: auto;
}

#headBox {
  /*tablet ---------------------------------------------------------------------------------*/
}
@media all and (max-width: 1279px) {
  #headBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 30px 16px;
    /* searchBox----------*/
  }
  .head_inner {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .head_inner h1 {
    float: left;
    width: auto;
    font-weight: 900;
    color: #fff;
    width: auto;
    height: auto;
    margin-top: 5px;
    font-size: 32px;
    line-height: 32px;
  }
  .head_inner .gnb_btn, .head_inner .search_btn {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 35px;
    height: 35px;
    right: 50px;
    background-color: #aaa;
  }
  .head_inner .gnb_btn {
    right: 0;
  }
  #gnbBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
  }
  .gnb_wrapper {
    position: relative;
    top: 60px;
    right: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    /*
              $link_snsImg : ('logo_youtube.png','logo_twitter.png','logo_facebook.png','logo_instagram.png', 'logo_navercafe.png');
                @at-root .gnb_sns{
                  position: absolute; top: 450px; right: 20px;
                  display: flex; justify-content: space-between;
                  width: 170px; height: auto;
                  li{
                    width: 30px; height: 30px;
                    @for $i from 1 to 5 {
                      &:nth-of-type( i ){
                        a{ @include img( nth( $link_snsImg, i ) ); }
                      }
                    a{
                      display: block;
                      width: 100%; height: 100%;
                      border-radius: 10px;
                    }
                  }
                }//li
              } //.gnb_sns
              */
  }
  .gnb_wrapper .gnb_inner > li {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .gnb_wrapper .gnb_inner_title {
    float: left;
    width: 120px;
    height: 45px;
    margin-left: calc(100% - 140px);
    margin-top: 4px;
  }
  .gnb_wrapper .gnb_inner_title a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 45px;
    text-indent: 5px;
    border-bottom: 2px solid #fff;
  }
  .gnb_wrapper .gnb_inner_title a:hover {
    text-decoration: none;
    background-color: #505050;
    border-radius: 10px;
  }
  .gnb_wrapper .gnb_inner_title a:focus {
    text-decoration: none;
    background-color: #FA7950;
    border-radius: 10px;
    font-weight: 700;
  }
  .gnb_inner_con {
    display: none;
  }
  .gnb_inner_con.action {
    display: block;
    position: absolute;
    right: 170px;
    width: auto;
    min-width: 130px;
    height: auto;
  }
  .gnb_inner_con.action a {
    display: block;
    width: 100%;
    height: 45px;
    text-align: right;
    line-height: 45px;
    color: #fff;
    padding-right: 10px;
  }
  .gnb_inner_con.action a:hover {
    text-decoration: none;
    background-color: #505050;
    border-radius: 10px;
  }
  .gnb_inner_con.action a:focus {
    text-decoration: none;
    color: #FA7950;
    font-weight: 700;
  }

  #gnb_close {
    position: absolute;
    top: -60px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  #gnb_close button {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #gnbBox .gnb_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
  }

  #headBox .search_wrapper {
    width: 100%;
    height: auto;
  }
  #headBox .searchBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    width: 100%;
    height: 50px;
  }
  #headBox .searchBox.action {
    display: block;
  }
  #headBox .searchBox fieldset {
    width: 100%;
    height: 100%;
  }
  #headBox #search_area {
    float: left;
    width: calc(100% - 35px);
    height: 35px;
    text-indent: 20px;
    border-bottom: 3px solid #757575;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #headBox .search_submit {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media all and (min-width: 1280px) {
  #headBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: transparent;
    /* searchBox----------------------------------------- */
  }
  #headBox .head_inner {
    position: relative;
    margin: auto;
  }
  #headBox h1 {
    float: left;
    width: auto;
    font-weight: 900;
    color: #fff;
  }
  #headBox #gnbBox {
    display: none;
  }
  #headBox .gnb_wrapper {
    width: 100%;
    height: auto;
  }
  #headBox .search_wrapper {
    width: 100%;
    height: 50px;
  }
  #headBox .head_inner {
    width: 1100px;
    height: 100%;
  }
  #headBox .head_inner h1 {
    width: auto;
    height: auto;
    font-size: 40px;
    line-height: 60px;
  }
  #headBox .gnb_btn, #headBox .search_btn {
    position: absolute;
    top: 5px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #aaa;
  }
  #headBox .gnb_btn {
    right: 0;
  }
  #headBox .search_btn {
    right: 70px;
  }
  #gnbBox {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
  }
  #gnbBox .gnb_wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    height: auto;
  }
  #gnbBox .gnb_inner {
    width: 1100px;
    height: 60px;
    padding-top: 100px;
    color: #fff;
  }
  #gnbBox .gnb_inner > li {
    float: left;
    width: 200px;
    height: 527px;
    margin-right: 25px;
    background-color: #aad;
  }
  #gnbBox .gnb_inner > li:last-child {
    margin-right: 0;
  }
  #gnbBox .gnb_inner_title {
    width: 100%;
    height: auto;
  }
  #gnbBox .gnb_inner_title a {
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    background-color: #faf;
  }
  #gnbBox .gnb_inner_con {
    width: 100%;
    height: auto;
  }
  #gnbBox .gnb_inner_con a {
    display: block;
    width: 100%;
    height: 55px;
    text-indent: 10px;
    border-bottom: 1px solid #fff;
    background-color: #aaa;
  }
  #gnbBox .gnb_sns {
    width: 100%;
    height: auto;
    text-indent: 10px;
    padding: 2px;
    padding-left: 30px;
    background-color: #a5a;
  }
  #gnbBox .gnb_sns a {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-color: #333;
  }
  #gnbBox .gnb_sns li:last-child a {
    margin-right: 0;
  }
  #gnbBox #gnb_close {
    position: absolute;
    top: 25px;
    right: 0;
    width: 50px;
    height: 50px;
  }
  #gnbBox #gnb_close button {
    width: 100%;
    height: 100%;
    background-color: #add;
  }
  #gnbBox .gnb_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
  }

  #headBox .searchBox {
    display: none;
    position: absolute;
    top: 5px;
    right: -20px;
    z-index: 900;
    width: 500px;
    height: 50px;
  }
  #headBox .searchBox.action {
    display: block;
  }
  #headBox .searchBox fieldset {
    width: 100%;
    height: 100%;
  }
  #headBox #search_area {
    float: left;
    width: 430px;
    height: 50px;
    text-indent: 20px;
    border-bottom: 3px solid #FA7950;
  }
  #headBox .search_submit {
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
}

#viewBox {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 100px;
}
@media all and (max-width: 1279px) {
  #viewBox {
    background-image: linear-gradient(to bottom, #FA7950 10%, #fff 80%);
    /* view_indicator-------------------------------------------------------------------- */
  }
  #viewBox .view_slide_wrap {
    overflow: hidden;
    width: 100%;
    height: 385px;
    margin: 0 auto;
    margin-left: 10px;
  }
  #viewBox .view_slide_area {
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    box-sizing: content-box;
  }
  #viewBox .view_slide_part {
    width: 1660px;
    height: auto;
  }
  #viewBox .view_slide_part li {
    float: left;
    width: 280px;
    height: 385px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #adc;
  }
  #viewBox .view_slide_part li:last-child {
    margin-right: 0;
  }
  #viewBox .view_indicator {
    position: absolute;
    left: 50%;
    bottom: -70px;
    width: 300px;
    height: auto;
    transform: translateX(-50%);
    text-align: center;
  }
  #viewBox .view_stop {
    float: right;
    width: 20px;
    height: 20px;
    color: #757575;
  }
  #viewBox .view_indicator ul {
    float: left;
    width: auto;
    height: auto;
  }
  #viewBox .view_indicator li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  #viewBox .view_indicator li:last-child {
    margin-right: 0;
  }
  #viewBox .view_indicator li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #757575;
    box-sizing: border-box;
  }
  #viewBox .view_indicator .indicator_btn_click {
    width: 54px;
  }
  #viewBox .indicator_btn_click a {
    background-color: #757575;
  }
}
@media all and (min-width: 1280px) {
  #viewBox {
    background-image: linear-gradient(to bottom, #FA7950 10%, #fff 70%);
    /* view_indicator-------------------------------------------------------------------- */
  }
  #viewBox .view_slide_wrap {
    overflow: hidden;
    width: 1240px;
    height: 550px;
    margin: 0 auto;
  }
  #viewBox .view_slide_area {
    overflow-x: auto;
    overflow-y: visible;
    width: 1240px;
    height: auto;
    padding-bottom: 50px;
    box-sizing: content-box;
  }
  #viewBox .view_slide_part {
    width: 2600px;
    height: auto;
  }
  #viewBox .view_slide_part li {
    float: left;
    width: 400px;
    height: 550px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #adc;
  }
  #viewBox .view_slide_part li:last-child {
    margin-right: 0;
  }
  #viewBox .view_indicator {
    position: absolute;
    left: 50%;
    bottom: -70px;
    width: 310px;
    height: auto;
    transform: translateX(-50%);
    text-align: center;
  }
  #viewBox .view_stop {
    float: right;
    width: 20px;
    height: 20px;
    color: #757575;
  }
  #viewBox .view_indicator ul {
    float: left;
    width: auto;
    height: auto;
  }
  #viewBox .view_indicator li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 22px;
    cursor: pointer;
  }
  #viewBox .view_indicator li:last-child {
    margin-right: 0;
  }
  #viewBox .view_indicator li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #757575;
    box-sizing: border-box;
  }
  #viewBox .view_indicator .indicator_btn_click {
    width: 54px;
  }
  #viewBox .indicator_btn_click a {
    background-color: #757575;
  }
}

#mdpickBox {
  width: 100%;
  height: auto;
  padding: 125px 0;
}
#mdpickBox .mdpick_tab_area {
  overflow: hidden;
  width: 100%;
  height: 40px;
  margin: 44px 0;
  margin-left: 10px;
}
#mdpickBox .mdpick_tab_area > div {
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  padding-top: 2px;
}
#mdpickBox .mdpick_tab_part {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  height: auto;
}
#mdpickBox .mdp_tab_con {
  width: 125px;
  height: 30px;
  cursor: pointer;
}
#mdpickBox .mdp_tab_con button {
  border-radius: 10px;
  box-shadow: 0px 5px 10px #eee;
  background-color: #fff;
}
#mdpickBox .mdp_tab_con button:hover {
  background-color: #EB4C38;
  color: #fff;
}
#mdpickBox .mdpick_con_wrap {
  overflow: hidden;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 275px;
  padding-left: 30px;
}
#mdpickBox .mdpick_booklist_area {
  overflow-x: auto;
  overflow-y: visible;
  width: 100%;
  height: 275px;
  padding-bottom: 100px;
  box-sizing: content-box;
}
#mdpickBox .mdpick_booklist_part {
  --mdpickcon:10;
  width: calc(220px * var(--mdpickcon) - 20px);
  height: 100%;
}
#mdpickBox .mdp_booklist_con {
  float: left;
  width: 200px;
  height: 275px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #aaa;
}
#mdpickBox .mdp_booklist_con a {
  display: block;
  width: 100%;
  height: 100%;
}
#mdpickBox .mdp_booklist_con:last-child {
  margin-right: 0;
}
@media all and (max-width: 1279px) {
  #mdpickBox h2 {
    width: auto;
    height: 45px;
    margin-left: 10px;
    font-size: 30px;
    line-height: 45px;
  }
  #mdpickBox .mdpick_inner {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #mdpickBox .prev_next_btn, #mdpickBox .stop_btn {
    display: none;
  }
}
@media all and (min-width: 1280px) {
  #mdpickBox h2 {
    width: auto;
    height: 45px;
    font-size: 38px;
    line-height: 45px;
  }
  #mdpickBox .mdpick_inner {
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 0 auto;
  }
}

#newbookBox {
  width: 100%;
  height: auto;
  padding-top: 125px;
}
#newbookBox .newbook_booklist_wrap {
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 340px;
  padding-left: 30px;
}
#newbookBox .newbook_booklist_area {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: visible;
  padding-top: 2px;
  padding-bottom: 50px;
  box-sizing: content-box;
}
#newbookBox .newbook_booklist_part {
  width: 2400px;
  height: auto;
  margin-bottom: 30px;
}
#newbookBox .newbook_booklist_part li {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 20px;
}
#newbookBox .newbook_booklist_part li:last-child {
  margin-right: 0px;
}
#newbookBox .newbook_booklist_part a {
  display: block;
  width: 100%;
  height: 100%;
}
#newbookBox .nb_img {
  width: 100%;
  height: 265px;
  margin-bottom: 14px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#newbookBox .nb_title {
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #333;
  font-weight: 700;
  margin-bottom: 4px;
}
#newbookBox .nb_writer {
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #757575;
}
#newbookBox .newbook_inner .moreview_btn {
  position: absolute;
  top: 5px;
  right: 0;
}
#newbookBox .newbook_inner .moreview_btn a {
  display: block;
}
@media all and (max-width: 1279px) {
  #newbookBox .newbook_inner {
    position: relative;
    width: 100%;
    height: 490px;
  }
  #newbookBox h2 {
    float: left;
    width: auto;
    height: auto;
    margin-bottom: 38px;
    margin-left: 10px;
    font-size: 30px;
    line-height: 45px;
  }
  #newbookBox .moreview_btn {
    margin-right: 10px;
  }
  #newbookBox .prev_next_btn, #newbookBox .stop_btn {
    display: none;
  }
}
@media all and (max-width: 767px) {
  #newbookBox .newbook_inner {
    margin: 125px 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #newbookBox .newbook_inner {
    margin-top: 125px;
  }
}
@media all and (min-width: 1280px) {
  #newbookBox {
    padding-bottom: 125px;
  }
  #newbookBox h2 {
    float: left;
    width: auto;
    height: auto;
    margin-bottom: 38px;
    font-size: 38px;
    line-height: 45px;
  }
  #newbookBox .newbook_inner {
    position: relative;
    width: 1100px;
    height: 490px;
    margin: 0 auto;
  }
}

/* dokpaBox
============================================================================== */
@media all and (max-width: 767px) {
  #dokpaBox {
    width: 100%;
    min-width: 320px;
    height: 296.875vw;
  }
  #dokpaBox .dokpa_inner {
    width: 100%;
    height: auto;
  }
  #dokpaBox #dokpa_title {
    position: relative;
    width: 100%;
    height: 65.625vw;
  }
  #dokpaBox .dokpa_view_part {
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #cc0;
  }
  #dokpaBox .dokpa_button_warpper {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
  }
  #dokpaBox .dokpa_button_warpper button {
    width: auto;
    max-width: 140px;
    height: 30px;
    padding: 0 4px;
    background-color: #FA7950;
  }
  #dokpaBox .dokpa_area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    background-color: #ada;
  }
  #dokpaBox .dokpa_con {
    width: 43.75vw;
    height: 53.125vw;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: #555;
  }
  #dokpaBox .dokpa_con:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  #dokpaBox .dokpa_con:nth-child(2n) {
    margin-left: 0;
  }
  #dokpaBox .dokpa_con .action {
    display: none;
    width: 100%;
    height: 100%;
  }
  #dokpaBox .dokpa_con .action a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #dokpaBox .dokpa_con:hover .action, #dokpaBox .dokpa_con:focus .action {
    display: block;
  }
  #dokpaBox .sub {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #dokpaBox .title {
    display: block;
    width: calc(100% - 5px);
    height: auto;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  #dokpaBox hr {
    border-color: #fff;
    margin-bottom: 10px;
  }
  #dokpaBox .date {
    width: 100%;
    height: remUnit2(20);
    margin-bottom: 9.375vw;
    text-align: center;
    background-color: #fff;
  }
  #dokpaBox .challenge_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #daa;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #dokpaBox {
    position: relative;
    width: 100%;
    height: 130.2083333333vw;
  }
  #dokpaBox .dokpa_inner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    min-height: 700px;
  }
  #dokpaBox #dokpa_title {
    position: relative;
    width: 350px;
    height: 310px;
    margin-right: 10px;
  }
  #dokpaBox #dokpa_title button {
    width: auto;
    height: 40px;
    padding: 0 5px;
    background-color: #fff;
  }
  #dokpaBox #dokpa_title .dokpa_view_part {
    width: 100%;
    height: 260px;
    background-color: #cca;
  }
  #dokpaBox #dokpa_title .dokpa_button_warpper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  #dokpaBox .dokpa_area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50.78125vw;
    height: auto;
    margin: 0 auto;
  }
  #dokpaBox .dokpa_con {
    width: 24.7395833333vw;
    height: 29.9479166667vw;
    margin-bottom: 10px;
    background-color: #555;
  }
  #dokpaBox .dokpa_con:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  #dokpaBox .dokpa_con .action {
    display: none;
    width: 100%;
    height: 100%;
  }
  #dokpaBox .dokpa_con .action a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #dokpaBox .dokpa_con:hover .action, #dokpaBox .dokpa_con:focus .action {
    display: block;
  }
  #dokpaBox .sub {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #dokpaBox .title {
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  #dokpaBox hr {
    border-color: #fff;
    margin-bottom: 10px;
  }
  #dokpaBox .date {
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    background-color: #fff;
  }
  #dokpaBox .challenge_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #fff;
  }
}
@media all and (min-width: 1280px) {
  #dokpaBox {
    position: relative;
    width: 100%;
    height: 2200px;
  }
  #dokpaBox .dokpa_inner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1250px;
    height: auto;
    min-height: 700px;
  }
  #dokpaBox #dokpa_title {
    position: relative;
    width: 440px;
    height: 600px;
  }
  #dokpaBox .dokpa_view_part {
    width: 100%;
    height: 100%;
    background-color: #cca;
  }
  #dokpaBox .dokpa_button_warpper {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
  }
  #dokpaBox #dokpa_title button {
    width: 140px;
    height: 40px;
    background-color: #fff;
  }
  #dokpaBox .dokpa_area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 774px;
    height: auto;
    min-height: 1400px;
  }
  #dokpaBox .dokpa_con {
    width: 370px;
    height: 450px;
    margin-bottom: 34px;
    background-color: #555;
  }
  #dokpaBox .dokpa_con:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  #dokpaBox .dokpa_con .action {
    display: none;
    width: 100%;
    height: 100%;
  }
  #dokpaBox .dokpa_con .action a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #dokpaBox .dokpa_con:hover .action, #dokpaBox .dokpa_con:focus .action {
    display: block;
  }
  #dokpaBox .sub {
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  #dokpaBox .title {
    display: block;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  #dokpaBox hr {
    border-color: #fff;
    margin-bottom: 10px;
  }
  #dokpaBox .date {
    width: 100%;
    height: 20px;
    margin-bottom: 40px;
    background-color: #fff;
  }
  #dokpaBox .challenge_link {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #fff;
  }
}

/* awardBox
============================================================================== */
#awardBox {
  position: relative;
  width: 100%;
  height: auto;
  padding: 105px 0;
}
@media all and (max-width: 1279px) {
  #awardBox .award_title, #awardBox .magazine_title {
    width: 100%;
    height: 120px;
    padding-top: 40px;
    background-color: #333;
  }
  #awardBox .award_title .title_inner, #awardBox .magazine_title .title_inner {
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
  #awardBox .award_title .title_inner h2, #awardBox .magazine_title .title_inner h2 {
    width: auto;
    height: 33px;
    font-size: 30px;
    line-height: 33px;
  }
  #awardBox .award_title .title_inner .award_tab, #awardBox .award_title .title_inner .magazine_tab, #awardBox .magazine_title .title_inner .award_tab, #awardBox .magazine_title .title_inner .magazine_tab {
    display: flex;
    justify-content: left;
    width: auto;
    height: 30px;
    margin-top: 10px;
  }
  #awardBox .award_title .title_inner .title_tab_btn, #awardBox .magazine_title .title_inner .title_tab_btn {
    width: 140px;
    height: 100%;
    margin-right: 10px;
    background-color: #08a;
  }
  #awardBox .am_inner_area {
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    margin-top: 18px;
    background-color: #fff;
  }
  #awardBox .book_part_wrapper {
    overflow: hidden;
    width: 100%;
    height: 314px;
  }
  #awardBox .book_part_wrapper > div {
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    height: auto;
  }
  #awardBox .book_part {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 1170px;
    height: 100%;
  }
  #awardBox .book_con {
    width: 230px;
    height: 314px;
    margin-right: 5px;
    background-color: #777;
  }
  #awardBox .book_con:last-child {
    margin-right: 0;
  }
  #awardBox .book_con a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #awardBox .book_con dl {
    width: 100%;
    height: 100%;
  }
  #awardBox .book_con.action {
    display: block;
    width: 100%;
    height: auto;
  }
  #awardBox .title {
    width: 100%;
    height: auto;
    padding-left: 10px;
    background-color: #fff;
    font-size: 22px;
  }
  #awardBox .content {
    display: none;
  }
  #awardBox .pn_btn {
    display: none;
  }
  #awardBox .more_btn {
    display: none;
  }
  #awardBox #magazineBox .pn_btn, #awardBox #magazineBox .more_btn {
    top: 535px;
  }
  #awardBox .more_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    background-color: #a8c;
  }
}
@media all and (min-width: 1280px) {
  #awardBox .award_title, #awardBox .magazine_title {
    width: 100%;
    height: 170px;
    padding-top: 104px;
    background-color: #333;
  }
  #awardBox .award_title .title_inner, #awardBox .magazine_title .title_inner {
    width: 1144px;
    height: 45px;
    margin: auto;
  }
  #awardBox .award_title .title_inner h2, #awardBox .magazine_title .title_inner h2 {
    float: left;
    width: auto;
    height: 45px;
    font-size: 38px;
    line-height: 45px;
  }
  #awardBox .award_title .title_inner .award_tab, #awardBox .award_title .title_inner .magazine_tab, #awardBox .magazine_title .title_inner .award_tab, #awardBox .magazine_title .title_inner .magazine_tab {
    float: right;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 40px;
    margin-top: 2px;
  }
  #awardBox .award_title .title_inner .title_tab_btn, #awardBox .magazine_title .title_inner .title_tab_btn {
    width: 140px;
    height: 100%;
    margin-left: 10px;
    background-color: #08a;
  }
  #awardBox .am_inner_area {
    width: 1170px;
    height: 400px;
    margin: auto;
    margin-top: 24px;
    background-color: #fff;
  }
  #awardBox .book_part {
    width: 100%;
    height: auto;
  }
  #awardBox .book_con {
    float: left;
    width: 230px;
    height: 314px;
    margin-right: 5px;
    background-color: #777;
  }
  #awardBox .book_con a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #awardBox .book_con:last-child {
    margin-right: 0;
  }
  #awardBox .book_con .action {
    width: 100%;
    height: auto;
    padding-top: 33px;
  }
  #awardBox .book_con dl {
    width: 100%;
    height: 100%;
  }
  #awardBox .title {
    width: 100%;
    height: 25px;
    margin-bottom: 26px;
    background-color: #fff;
  }
  #awardBox .content {
    width: 100%;
    height: auto;
    min-height: 220px;
    background-color: #fff;
  }
  #awardBox .pn_btn {
    position: absolute;
    top: 640px;
    left: 50%;
    margin-left: -105px;
    width: 215px;
    height: 30px;
  }
  #awardBox .more_btn {
    position: absolute;
    top: 640px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 30px;
  }
  #awardBox #magazineBox .pn_btn, #awardBox #magazineBox .more_btn {
    top: 535px;
  }
  #awardBox .more_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    background-color: #a8c;
  }
}

/* bookclubBox
============================================================================== */
@media all and (max-width: 767px) {
  #bookclubBox {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(177, 177, 177, 0.5) 50%, #fff 50%);
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .bookclub_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 87.5vw;
    height: 380px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .bookclub_inner dl {
    width: 100%;
    height: auto;
  }
  .bookclub_inner dl .title {
    width: 37.5vw;
    max-width: 170px;
    height: 37.5vw;
    margin: auto;
    margin-bottom: 6.25vw;
    background-image: url(../../multi/img/bookClub_img_title.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .bookclub_inner dl .title > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .bookclub_inner dl dd {
    width: 100%;
    height: auto;
    margin-bottom: 6.25vw;
  }
  .bookclub_inner dl .sub_title {
    width: 100%;
    height: auto;
    background-color: #daa;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
  .bookclub_inner dl .content {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  .bookclub_inner .bookclub_join {
    width: auto;
    height: 40px;
    margin: 0 auto;
  }
  .bookclub_inner .bookclub_join a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #bookclubBox {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(177, 177, 177, 0.5) 50%, #fff 50%);
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .bookclub_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93.75vw;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .bookclub_inner dl {
    width: 100%;
    height: auto;
  }
  .bookclub_inner .title {
    width: 160px;
    height: 170px;
    margin: auto;
    margin-bottom: 1.5625vw;
    background-image: url(../../multi/img/bookClub_img_title.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .bookclub_inner .title > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .bookclub_inner dd {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 3.125vw;
    padding: 0 20px;
  }
  .bookclub_inner .sub_title {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    background-color: #aac;
    margin-bottom: 1.5625vw;
  }
  .bookclub_inner .content {
    width: 550px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    background-color: #acc;
  }
  .bookclub_inner .content p:before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    display: block;
    width: 5px;
    height: 5px;
    color: #FA7950;
    line-height: 38px;
    margin-left: -25px;
  }
  .bookclub_inner .bookclub_join {
    width: auto;
    height: 40px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
  }
  .bookclub_inner .bookclub_join a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 1280px) {
  #bookclubBox {
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(177, 177, 177, 0.5) 50%, #fff 50%);
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .bookclub_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .bookclub_inner dl {
    width: 100%;
    height: auto;
  }
  .bookclub_inner .title {
    width: 100%;
    height: auto;
    font-size: 38px;
    font-weight: 700;
    color: #1B2C7A;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5625vw;
  }
  .bookclub_inner dd {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 3.125vw;
    padding: 0 20px;
  }
  .bookclub_inner .sub_title {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    clolr: #333333;
    margin-bottom: 1.5625vw;
  }
  .bookclub_inner .content {
    width: 550px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
  }
  .bookclub_inner .content p:before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free";
    display: block;
    width: 5px;
    height: 5px;
    color: #FA7950;
    line-height: 38px;
    margin-left: -25px;
  }
  .bookclub_inner .bookclub_join {
    width: auto;
    height: 40px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
  }
  .bookclub_inner .bookclub_join a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* shopBox
============================================================================== */
#shopBox {
  width: 100%;
  height: auto;
  background-color: rgba(177, 177, 177, 0.5);
}
@media all and (max-width: 1279px) {
  #shopBox {
    padding: 3.125vw 0 37.5vw;
  }
  #shopBox .shop_inner {
    position: relative;
    width: 96.25vw;
    height: 63.75vw;
    margin: 0 auto;
  }
  #shopBox .shop_inner h2 {
    width: auto;
    height: 45px;
    color: #333;
    font-size: 30px;
    line-height: 45px;
    margin-left: 10px;
  }
  #shopBox .moreview_btn {
    margin-right: 10px;
  }
  #shopBox .shop_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 9.375vw;
  }
  #shopBox .shop_con {
    width: 31.25vw;
    height: 31.25vw;
    margin-bottom: 1.25vw;
    background-color: #aa8;
  }
  #shopBox .shop_con.action {
    background-color: rgba(51, 51, 51, 0.5);
  }
  #shopBox .shop_con.action a:before {
    content: "자세히 보기";
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    line-height: 30.625vw;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 5px;
  }
  #shopBox .shop_con.action span {
    width: 100%;
    height: auto;
    margin: auto;
  }
  #shopBox .shop_con:nth-last-child(-n+5) {
    margin-bottom: 0;
  }
  #shopBox .shop_con:nth-last-child(-n+2) {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #shopBox .shop_con > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #shopBox .shop_inner .moreview_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
    height: 35px;
  }
  #shopBox .shop_inner .moreview_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 1280px) {
  #shopBox {
    padding: 40px 0 140px;
  }
  #shopBox .shop_inner {
    position: relative;
    width: 1140px;
    height: 680px;
    margin: 0 auto;
  }
  #shopBox .shop_inner h2 {
    width: auto;
    height: 45px;
    color: #333;
    font-size: 38px;
    line-height: 45px;
  }
  #shopBox .shop_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  #shopBox .shop_con {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
    background-color: #aa8;
  }
  #shopBox .shop_con:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
  #shopBox .shop_con > a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #shopBox .shop_inner .moreview_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 172px;
    height: 35px;
  }
  #shopBox .shop_inner .moreview_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* magazineBox
============================================================================== */
#magazineBox {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 105px;
}
@media all and (max-width: 1279px) {
  #magazineBox .award_title, #magazineBox .magazine_title {
    width: 100%;
    height: 120px;
    padding-top: 40px;
    background-color: #333;
  }
  #magazineBox .award_title .title_inner, #magazineBox .magazine_title .title_inner {
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
  #magazineBox .award_title .title_inner h2, #magazineBox .magazine_title .title_inner h2 {
    width: auto;
    height: 33px;
    font-size: 30px;
    line-height: 33px;
  }
  #magazineBox .award_title .title_inner .award_tab, #magazineBox .award_title .title_inner .magazine_tab, #magazineBox .magazine_title .title_inner .award_tab, #magazineBox .magazine_title .title_inner .magazine_tab {
    display: flex;
    justify-content: left;
    width: auto;
    height: 30px;
    margin-top: 10px;
  }
  #magazineBox .award_title .title_inner .title_tab_btn, #magazineBox .magazine_title .title_inner .title_tab_btn {
    width: 140px;
    height: 100%;
    margin-right: 10px;
    background-color: #08a;
  }
  #magazineBox .am_inner_area {
    width: calc(100% - 20px);
    height: auto;
    margin: auto;
    margin-top: 18px;
    background-color: #fff;
  }
  #magazineBox .book_part_wrapper {
    overflow: hidden;
    width: 100%;
    height: 314px;
  }
  #magazineBox .book_part_wrapper > div {
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    height: auto;
  }
  #magazineBox .book_part {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 1170px;
    height: 100%;
  }
  #magazineBox .book_con {
    width: 230px;
    height: 314px;
    margin-right: 5px;
    background-color: #777;
  }
  #magazineBox .book_con:last-child {
    margin-right: 0;
  }
  #magazineBox .book_con a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #magazineBox .book_con dl {
    width: 100%;
    height: 100%;
  }
  #magazineBox .book_con.action {
    display: block;
    width: 100%;
    height: auto;
  }
  #magazineBox .title {
    width: 100%;
    height: auto;
    padding-left: 10px;
    background-color: #fff;
    font-size: 22px;
  }
  #magazineBox .content {
    display: none;
  }
  #magazineBox .pn_btn {
    display: none;
  }
  #magazineBox .more_btn {
    display: none;
  }
  #magazineBox #magazineBox .pn_btn, #magazineBox #magazineBox .more_btn {
    top: 535px;
  }
  #magazineBox .more_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    background-color: #a8c;
  }
}
@media all and (min-width: 1280px) {
  #magazineBox .award_title, #magazineBox .magazine_title {
    width: 100%;
    height: 170px;
    padding-top: 104px;
    background-color: #333;
  }
  #magazineBox .award_title .title_inner, #magazineBox .magazine_title .title_inner {
    width: 1144px;
    height: 45px;
    margin: auto;
  }
  #magazineBox .award_title .title_inner h2, #magazineBox .magazine_title .title_inner h2 {
    float: left;
    width: auto;
    height: 45px;
    font-size: 38px;
    line-height: 45px;
  }
  #magazineBox .award_title .title_inner .award_tab, #magazineBox .award_title .title_inner .magazine_tab, #magazineBox .magazine_title .title_inner .award_tab, #magazineBox .magazine_title .title_inner .magazine_tab {
    float: right;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 40px;
    margin-top: 2px;
  }
  #magazineBox .award_title .title_inner .title_tab_btn, #magazineBox .magazine_title .title_inner .title_tab_btn {
    width: 140px;
    height: 100%;
    margin-left: 10px;
    background-color: #08a;
  }
  #magazineBox .am_inner_area {
    width: 1170px;
    height: 400px;
    margin: auto;
    margin-top: 24px;
    background-color: #fff;
  }
  #magazineBox .book_part {
    width: 100%;
    height: auto;
  }
  #magazineBox .book_con {
    float: left;
    width: 230px;
    height: 314px;
    margin-right: 5px;
    background-color: #777;
  }
  #magazineBox .book_con a {
    display: block;
    width: 100%;
    height: 100%;
  }
  #magazineBox .book_con:last-child {
    margin-right: 0;
  }
  #magazineBox .book_con .action {
    width: 100%;
    height: auto;
    padding-top: 33px;
  }
  #magazineBox .book_con dl {
    width: 100%;
    height: 100%;
  }
  #magazineBox .title {
    width: 100%;
    height: 25px;
    margin-bottom: 26px;
    background-color: #fff;
  }
  #magazineBox .content {
    width: 100%;
    height: auto;
    min-height: 220px;
    background-color: #fff;
  }
  #magazineBox .pn_btn {
    position: absolute;
    top: 640px;
    left: 50%;
    margin-left: -105px;
    width: 215px;
    height: 30px;
  }
  #magazineBox .more_btn {
    position: absolute;
    top: 640px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 30px;
  }
  #magazineBox #magazineBox .pn_btn, #magazineBox #magazineBox .more_btn {
    top: 535px;
  }
  #magazineBox .more_btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    background-color: #a8c;
  }
}

/* 
============================================================================== */
#webzineBox {
  width: 100%;
  height: auto;
  padding: 105px 0;
  margin-bottom: 90px;
}
@media all and (max-width: 1279px) {
  #webzineBox {
    /* wz_account_part-------------------------------------------------------------------- */
    /* wz_title_part-------------------------------------------------------------------- */
    /* wz_con_part-------------------------------------------------------------------- */
  }
  #webzineBox .webzine_inner {
    width: 100%;
    height: 280px;
  }
  #webzineBox .webzine_inner h2 {
    width: auto;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    margin-left: 10px;
  }
  #webzineBox .webzine_area {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  #webzineBox .wz_account_part {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #webzineBox .wz_title_part {
    display: flex;
    margin: 30px 0;
    margin-left: 5px;
  }
  #webzineBox .wz_title_part > section {
    width: auto;
    height: auto;
    padding: 0 2px;
    margin-right: 4px;
    background-color: #000;
  }
  #webzineBox .wz_title_part button {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 16px;
    /* background-color: #daa; */
  }
  #webzineBox .wz_con_part {
    overflow: hidden;
    width: 100%;
    height: 170px;
  }
  #webzineBox .wz_con_part > div {
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    height: auto;
  }
  #webzineBox .wz_con_part ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1075px;
    height: 170px;
  }
  #webzineBox .wz_con_content {
    overflow: hidden;
    width: 130px;
    height: 170px;
    border: 1px solid #505050;
    border-radius: 10px;
    padding-top: 5px;
  }
  #webzineBox .wz_con_info {
    width: 100%;
    height: 100%;
  }
  #webzineBox .wz_con_date {
    width: 100%;
    height: auto;
    color: #eb4c38;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #eb4c38;
    border-bottom: 1px solid #eb4c38;
    margin: 0 auto;
  }
  #webzineBox .wz_con_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    background-color: #aad;
  }
  #webzineBox .wz_book_name {
    width: 100%;
    height: auto;
    font-size: 24px;
  }
  #webzineBox .wz_writer_name {
    width: 100%;
    height: auto;
    font-size: 18px;
  }
  #webzineBox .detail {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #webzineBox .wz_con_episode {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
@media all and (min-width: 1280px) {
  #webzineBox {
    /* wz_account_part-------------------------------------------------------------------- */
    /* wz_title_part-------------------------------------------------------------------- */
    /* wz_con_part-------------------------------------------------------------------- */
  }
  #webzineBox .webzine_inner {
    width: 1144px;
    height: 690px;
    margin: auto;
  }
  #webzineBox .webzine_inner h2 {
    width: auto;
    height: 45px;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 48px;
  }
  #webzineBox .webzine_area {
    width: auto;
    height: auto;
    background-color: #fff;
  }
  #webzineBox .webzine_area > div {
    float: left;
    width: 380px;
    height: 600px;
    box-sizing: border-box;
    background-color: #acc;
  }
  #webzineBox .wz_account_part {
    padding-top: 160px;
    padding-left: 45px;
  }
  #webzineBox .wz_account_part p:first-child {
    width: 100%;
    height: 140px;
    margin-bottom: 38px;
    font-family: "KoPub Batang";
    background-color: #fff;
  }
  #webzineBox .wz_account_part p:nth-child(2) {
    width: 100%;
    height: auto;
    min-height: 100px;
    font-family: "KoPub Batang";
    background-color: #fff;
  }
  #webzineBox .wz_title_part {
    margin: 0 2px;
  }
  #webzineBox .wz_serial {
    height: 300px;
    padding-top: 200px;
    background-color: #eb4c38;
  }
  #webzineBox .wz_finished {
    width: 100%;
    height: 150px;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #505050;
  }
  #webzineBox .wz_published {
    width: 100%;
    height: 150px;
    padding: 50px 0;
    background-color: #505050;
  }
  #webzineBox .wz_title_part button {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 30px;
    /* background-color: #daa; */
  }
  #webzineBox .wz_con_part {
    padding: 40px;
  }
  #webzineBox ul {
    width: 100%;
    height: 100%;
  }
  #webzineBox .wz_con_content {
    display: none;
  }
  #webzineBox .action {
    display: block;
  }
  #webzineBox .wz_con_info {
    width: 100%;
    height: 310px;
  }
  #webzineBox .wz_con_date {
    width: 100%;
    height: 43px;
    color: #eb4c38;
    font-size: 26px;
    text-align: center;
    border-top: 1px solid #eb4c38;
    border-bottom: 1px solid #eb4c38;
    margin: 0 auto;
  }
  #webzineBox .wz_con_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 265px;
    text-align: center;
    margin: 0 auto;
  }
  #webzineBox .wz_book_name {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    font-size: 24px;
    background-color: #fff;
  }
  #webzineBox .wz_writer_name {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: #fff;
  }
  #webzineBox .detail {
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  #webzineBox .wz_con_episode {
    width: 100%;
    height: 210px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #bab;
  }
  #webzineBox .wz_con_episode_link {
    width: 100%;
    height: 33.3333%;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    background-color: #aad;
  }
  #webzineBox .wz_con_episode a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

#brandlistBox {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: rgba(85, 85, 85, 0.3);
}
@media all and (max-width: 767px) {
  #brandlistBox {
    padding: 60px 0;
  }
  #brandlistBox .brandlist_inner {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
  #brandlistBox .brandlist_inner h2 {
    margin-bottom: 80px;
    width: auto;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
  }
  #brandlistBox .brandlist_wrap {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 130px;
  }
  #brandlistBox .brandlist_wrap > ul {
    width: 840px;
    height: auto;
  }
  #brandlistBox .brandlist_part_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #brandlistBox .brandlist_part_bottom {
    margin-left: -35px;
    display: flex;
    justify-content: space-between;
  }
  #brandlistBox .brandlist_wrap li {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #555;
  }
  #brandlistBox .brandlist_inner > .moreview_btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 30px;
  }
  #brandlistBox .brandlist_inner .moreview_btn a {
    display: block;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #brandlistBox {
    padding: 60px 0;
  }
  #brandlistBox .brandlist_inner {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  #brandlistBox .brandlist_inner h2 {
    margin-bottom: 80px;
    margin-left: 10px;
    width: auto;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
  }
  #brandlistBox .brandlist_wrap {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 130px;
  }
  #brandlistBox .brandlist_wrap > ul {
    width: 1320px;
    height: auto;
  }
  #brandlistBox .brandlist_part_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  #brandlistBox .brandlist_part_bottom {
    margin-left: -55px;
    display: flex;
    justify-content: space-between;
  }
  #brandlistBox .brandlist_wrap li {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #555;
  }
  #brandlistBox .brandlist_inner > .moreview_btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 30px;
  }
  #brandlistBox .brandlist_inner .moreview_btn a {
    display: block;
  }
}
@media all and (min-width: 1280px) {
  #brandlistBox {
    padding: 90px 0;
  }
  #brandlistBox .brandlist_inner {
    position: relative;
    width: 1144px;
    height: 540px;
    margin: 0 auto;
  }
  #brandlistBox .brandlist_inner h2 {
    margin-bottom: 80px;
    width: auto;
    height: 45px;
    font-size: 38px;
    line-height: 45px;
  }
  #brandlistBox .brandlist_wrap {
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 310px;
  }
  #brandlistBox .brandlist_wrap > ul {
    width: 2000px;
    height: 140px;
  }
  #brandlistBox .brandlist_part_top {
    margin-bottom: 26px;
  }
  #brandlistBox .brandlist_part_bottom {
    margin-left: -70px;
  }
  #brandlistBox .brandlist_wrap li {
    float: left;
    width: 140px;
    height: 140px;
    margin-right: 26px;
    border-radius: 10px;
    background-color: #555;
  }
  #brandlistBox .brandlist_inner > .moreview_btn {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -86px;
    width: 172px;
    height: 35px;
  }
  #brandlistBox .brandlist_inner .moreview_btn a {
    display: block;
  }
}

#footBox {
  width: 100%;
  height: auto;
}
@media all and (max-width: 767px) {
  #footBox .link_inner {
    width: 100%;
    height: auto;
    padding: 5px 0;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 100%;
    height: auto;
  }
  #footBox .footer_nav {
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #footBox .footer_nav li {
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:focus {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .sns_link {
    display: none;
  }
  .company_address {
    width: 100%;
    height: auto;
    color: #333;
    padding: 10px 0;
  }
  .company_address address {
    width: auto;
    height: auto;
  }
  .company_address address p {
    display: none;
  }
  .company_address address p:last-child {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox .link_inner {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 100%;
    height: auto;
  }
  #footBox .footer_nav {
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #footBox .footer_nav li {
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:hover {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .footer_nav a:focus {
    transform: scale(1.05);
  }
  #footBox .sns_link {
    display: none;
  }
  #footBox .company_address {
    width: 100%;
    height: auto;
    color: #333;
    margin: 0 auto;
    padding: 20px 0;
  }
  #footBox address {
    width: 100%;
    height: auto;
  }
  #footBox address p {
    width: 100%;
    height: 100%;
    color: #333;
    margin-bottom: 5px;
  }
  #footBox address p:last-child {
    margin-bottom: 0;
  }
}
@media all and (min-width: 1280px) {
  #footBox .link_inner {
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 1144px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #footBox .footer_link > div {
    height: 30px;
    margin-top: 15px;
  }
  #footBox .footer_nav {
    float: left;
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
  }
  #footBox .footer_nav li {
    float: left;
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:hover {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .sns_link {
    float: right;
    width: 270px;
    height: auto;
  }
  #footBox .sns_link ul {
    width: 100%;
    height: 30px;
  }
  #footBox .sns_link li {
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 30px;
    background-color: #fff;
  }
  #footBox .sns_link li:last-child {
    margin-right: 0;
  }
  #footBox .company_address {
    width: 1144px;
    height: auto;
    color: #333;
    margin: 0 auto;
    padding: 60px 0;
  }
  #footBox address {
    width: 100%;
    height: auto;
  }
  #footBox address p {
    width: 100%;
    height: 100%;
    color: #333;
    margin-bottom: 5px;
  }
  #footBox address p:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
