html, body {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: auto;
}

@media all and (max-width: 1279px) {
  #headBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 30px 16px;
    /* searchBox----------*/
  }
  .head_inner {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .head_inner h1 {
    float: left;
    width: auto;
    font-weight: 900;
    color: #fff;
    width: auto;
    height: auto;
    margin-top: 5px;
    font-size: 32px;
    line-height: 32px;
  }
  .head_inner .gnb_btn, .head_inner .search_btn {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 35px;
    height: 35px;
    right: 50px;
    color: #fff;
  }
  .head_inner .gnb_btn > button, .head_inner .search_btn > button {
    color: inherit;
  }
  .head_inner .gnb_btn:hover, .head_inner .search_btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: #333333;
  }
  .head_inner .gnb_btn:focus, .head_inner .search_btn:focus {
    font-weight: 700;
    background-color: #fff;
  }
  .head_inner .gnb_btn {
    right: 0;
  }
  #gnbBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
  }
  .gnb_wrapper {
    position: relative;
    top: 60px;
    right: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .gnb_wrapper .gnb_inner > li {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .gnb_wrapper .gnb_inner_title {
    float: left;
    width: 120px;
    height: 45px;
    margin-left: calc(100% - 140px);
    margin-top: 4px;
  }
  .gnb_wrapper .gnb_inner_title a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 45px;
    text-indent: 5px;
    border-bottom: 2px solid #fff;
  }
  .gnb_wrapper .gnb_inner_title a:hover {
    text-decoration: none;
    color: #FA7950;
    font-weight: 700;
  }
  .gnb_wrapper .gnb_inner_title a:focus {
    text-decoration: none;
    background-color: #FA7950;
    color: #fff;
    font-weight: 700;
  }
  .gnb_inner_con {
    display: none;
  }
  .gnb_inner_con.action {
    display: block;
    position: absolute;
    right: 170px;
    width: auto;
    min-width: 130px;
    height: auto;
  }
  .gnb_inner_con.action a {
    display: block;
    width: 100%;
    height: 45px;
    text-align: right;
    line-height: 45px;
    color: #fff;
    padding-right: 10px;
  }
  .gnb_inner_con.action a:hover {
    text-decoration: none;
    background-color: #505050;
  }
  .gnb_inner_con.action a:focus {
    text-decoration: none;
    color: #FA7950;
    font-weight: 700;
  }

  .gnb_sns {
    position: absolute;
    top: 450px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: auto;
  }
  .gnb_sns li {
    width: 30px;
    height: 30px;
  }
  .gnb_sns li:nth-child(1) {
    background-image: url(../../multi/img/logo_youtube.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  .gnb_sns li:nth-child(1) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_sns li:nth-child(2) {
    background-image: url(../../multi/img/logo_twitter.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  .gnb_sns li:nth-child(2) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_sns li:nth-child(3) {
    background-image: url(../../multi/img/logo_facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  .gnb_sns li:nth-child(3) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_sns li:nth-child(4) {
    background-image: url(../../multi/img/logo_instagram.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  .gnb_sns li:nth-child(4) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_sns li:nth-child(5) {
    background-image: url(../../multi/img/logo_navercafe.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  .gnb_sns li:nth-child(5) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .gnb_sns li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  #gnb_close {
    position: absolute;
    top: -60px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  #gnb_close button {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  #gnbBox .gnb_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
  }

  #headBox .search_wrapper {
    width: 100%;
    height: auto;
  }
  #headBox .searchBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
    width: 100%;
    max-width: 550px;
    height: 50px;
  }
  #headBox .searchBox.action {
    display: block;
  }
  #headBox .searchBox fieldset {
    width: 100%;
    height: 100%;
  }
  #headBox #search_area {
    float: left;
    width: calc(100% - 35px);
    height: 35px;
    text-indent: 20px;
    border-bottom: 3px solid #757575;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #headBox .search_submit {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media all and (min-width: 1280px) {
  #headBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: transparent;
    /* searchBox----------------------------------------- */
  }
  #headBox .head_inner {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: auto;
  }
  #headBox .head_inner h1 {
    float: left;
    font-weight: 900;
    color: #fff;
    width: auto;
    height: auto;
    font-size: 40px;
    line-height: 60px;
  }
  #headBox .head_inner .gnb_wrapper {
    width: 100%;
    height: auto;
  }
  #headBox .head_inner .gnb_btn, #headBox .head_inner .search_btn {
    position: absolute;
    top: 5px;
    right: 70px;
    z-index: 100;
    width: 50px;
    height: 50px;
    color: #fff;
  }
  #headBox .head_inner .gnb_btn > button, #headBox .head_inner .search_btn > button {
    color: inherit;
  }
  #headBox .head_inner .gnb_btn:hover, #headBox .head_inner .search_btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: #333333;
  }
  #headBox .head_inner .gnb_btn:focus, #headBox .head_inner .search_btn:focus {
    font-weight: 700;
    background-color: #fff;
  }
  #headBox .head_inner .gnb_btn {
    right: 0;
  }
  #gnbBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
  }
  .gnb_wrapper {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    height: auto;
  }
  .gnb_wrapper .gnb_inner {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    color: #fff;
  }
  .gnb_wrapper .gnb_inner > li {
    width: 200px;
    height: auto;
  }

  #gnbBox .gnb_inner_title {
    width: 100%;
    height: auto;
  }
  #gnbBox .gnb_inner_title a {
    display: block;
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 45px;
    text-indent: 5px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
  }
  #gnbBox .gnb_inner_title a:hover {
    text-decoration: none;
    color: #FA7950;
    font-weight: 700;
  }
  #gnbBox .gnb_inner_title a:focus {
    text-decoration: none;
    background-color: #FA7950;
    color: #fff;
    font-weight: 700;
  }
  #gnbBox .gnb_inner_con {
    width: 100%;
    height: auto;
  }
  #gnbBox .gnb_inner_con a {
    display: block;
    width: 100%;
    height: 55px;
    line-height: 45px;
    color: #fff;
    text-indent: 10px;
    font-size: 16px;
    padding-right: 10px;
  }
  #gnbBox .gnb_inner_con a:hover {
    text-decoration: none;
    background-color: #505050;
  }
  #gnbBox .gnb_inner_con a:focus {
    text-decoration: none;
    color: #FA7950;
    font-weight: 700;
  }
  #gnbBox .gnb_sns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  #gnbBox .gnb_sns > li {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  #gnbBox .gnb_sns > li:nth-child(1) {
    background-image: url(../../multi/img/logo_youtube.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  #gnbBox .gnb_sns > li:nth-child(1) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #gnbBox .gnb_sns > li:nth-child(2) {
    background-image: url(../../multi/img/logo_twitter.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  #gnbBox .gnb_sns > li:nth-child(2) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #gnbBox .gnb_sns > li:nth-child(3) {
    background-image: url(../../multi/img/logo_facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  #gnbBox .gnb_sns > li:nth-child(3) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #gnbBox .gnb_sns > li:nth-child(4) {
    background-image: url(../../multi/img/logo_instagram.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  #gnbBox .gnb_sns > li:nth-child(4) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #gnbBox .gnb_sns > li:nth-child(5) {
    background-image: url(../../multi/img/logo_navercafe.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80% auto;
  }
  #gnbBox .gnb_sns > li:nth-child(5) > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #gnbBox .gnb_sns > li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  #gnbBox #gnb_close {
    position: absolute;
    top: -75px;
    right: 340px;
    width: 50px;
    height: 50px;
  }
  #gnbBox #gnb_close button {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #gnbBox .gnb_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
  }

  #headBox .search_wrapper {
    width: 100%;
    height: auto;
  }
  #headBox .searchBox {
    display: none;
    position: absolute;
    top: 5px;
    right: -20px;
    z-index: 900;
    width: 500px;
    height: 50px;
  }
  #headBox .searchBox.action {
    display: block;
  }
  #headBox .searchBox fieldset {
    width: 100%;
    height: 100%;
  }
  #headBox #search_area {
    float: left;
    width: 430px;
    height: 50px;
    text-indent: 20px;
    border-bottom: 3px solid #757575;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #headBox .search_submit {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* subNavBox================================================= */
#subNavBox {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 767px) {
  #subNavBox {
    width: 100%;
    height: 250px;
    padding-top: 100px;
    background-image: url(../../multi/img/subNavTitleBg.svg);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: cover;
  }
  #subNavBox > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #subNavBox .subnav_inner {
    width: 100%;
    height: auto;
    margin: auto;
  }
  #subNavBox .nav_list {
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 20;
    width: 180px;
    height: auto;
    min-height: 40px;
    margin-bottom: 44px;
  }
  #subNavBox .nav_list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  }
  #subNavBox .nav_list a:hover {
    background-color: #ccc;
    border-radius: 10px;
  }
  #subNavBox .nav_list a:focus {
    outline: none;
    background-color: #666;
    color: #fff;
    border-radius: 10px;
  }
  #subNavBox .nav_list .nav_title {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 180px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333333;
    font-size: 30px;
    font-weight: 700;
  }
  .nav_title_con {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 280px;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .nav_title_con li {
    width: 100%;
    height: 40px;
  }

  #subNavBox .nav_list:hover .nav_title_con, #subNavBox .nav_list:focus-within .nav_title_con {
    display: block;
  }
  #subNavBox .nav_list_sub {
    position: relative;
    z-index: 10;
    width: 150px;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #subNavBox .nav_list_sub li {
    display: none;
    width: 100%;
    height: 100%;
    margin-right: 5px;
  }
  #subNavBox .nav_list_sub li.action {
    display: block;
  }
  #subNavBox .nav_list_sub li:last-child {
    margin-right: 0;
  }
  #subNavBox .nav_list_sub a {
    display: block;
    width: auto;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
    color: #333333;
    border-radius: 10px;
    text-decoration: none;
  }
  #subNavBox .nav_list_sub a:hover {
    background-color: #EB4C38;
    color: #fff;
    font-weight: 500;
  }
  #subNavBox .nav_list_sub a:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #subNavBox {
    width: 100%;
    height: 300px;
    padding-top: 150px;
    background-image: url(../../multi/img/subNavTitleBg.svg);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: cover;
  }
  #subNavBox > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #subNavBox .subnav_inner {
    width: 100%;
    height: auto;
    margin: auto;
  }
  #subNavBox .nav_list {
    position: relative;
    z-index: 10;
    width: 160px;
    height: auto;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  #subNavBox .nav_list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  }
  #subNavBox .nav_list a:hover {
    background-color: #ccc;
    border-radius: 10px;
  }
  #subNavBox .nav_list a:focus {
    outline: none;
    background-color: #666;
    color: #fff;
    border-radius: 10px;
  }
  #subNavBox .nav_list .nav_title {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333333;
    font-size: 30px;
    font-weight: 700;
  }
  .nav_title_con {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 160px;
    height: 280px;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .nav_title_con li {
    width: 100%;
    height: 40px;
  }

  #subNavBox .nav_list:hover .nav_title_con, #subNavBox .nav_list:focus-within .nav_title_con {
    display: block;
  }
  #subNavBox .nav_list_sub {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #subNavBox .nav_list_sub li {
    width: auto;
    height: 100%;
    margin-right: 5px;
  }
  #subNavBox .nav_list_sub li:last-child {
    margin-right: 0;
  }
  #subNavBox .nav_list_sub a {
    display: block;
    width: auto;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    line-height: 40px;
    color: #333333;
    border-radius: 10px;
    text-decoration: none;
  }
  #subNavBox .nav_list_sub a:hover {
    background-color: #EB4C38;
    color: #fff;
    font-weight: 500;
  }
  #subNavBox .nav_list_sub a:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }
}
@media all and (min-width: 1280px) {
  #subNavBox {
    width: 100%;
    height: 300px;
    padding-top: 150px;
    background-image: url(../../multi/img/subNavTitleBg.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  #subNavBox > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #subNavBox .subnav_inner {
    width: 1100px;
    height: auto;
    margin: auto;
  }
  #subNavBox .nav_list {
    position: relative;
    z-index: 10;
    width: 160px;
    height: auto;
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  #subNavBox .nav_list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
  }
  #subNavBox .nav_list a:hover {
    background-color: #ccc;
    border-radius: 10px;
  }
  #subNavBox .nav_list a:focus {
    outline: none;
    background-color: #666;
    color: #fff;
    border-radius: 10px;
  }
  #subNavBox .nav_list .nav_title {
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333333;
    font-size: 30px;
    font-weight: 700;
  }
  .nav_title_con {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 160px;
    height: 280px;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .nav_title_con li {
    width: 100%;
    height: 40px;
  }

  #subNavBox .nav_list:hover .nav_title_con, #subNavBox .nav_list:focus-within .nav_title_con {
    display: block;
  }
  #subNavBox .nav_list_sub {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #subNavBox .nav_list_sub li {
    width: auto;
    height: 100%;
    margin-right: 10px;
  }
  #subNavBox .nav_list_sub li:last-child {
    margin-right: 0;
  }
  #subNavBox .nav_list_sub a {
    display: block;
    width: auto;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
    color: #333333;
    border-radius: 10px;
    text-decoration: none;
  }
  #subNavBox .nav_list_sub a:hover {
    background-color: #EB4C38;
    color: #fff;
    font-weight: 500;
  }
  #subNavBox .nav_list_sub a:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
  }
}

/* subSearchBox================================================= */
#subSearchBox {
  width: 100%;
  height: 160px;
  padding: 60px 0;
}
@media all and (max-width: 1279px) {
  #subSearchBox .subsearch_inner {
    width: 93.75vw;
    height: 40px;
    max-width: 610px;
    margin: auto;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #searchFilter {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 50px;
    height: 100%;
    border: 0;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #dda;
  }
  #searchFilter ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  #searchFilter ul::after, #searchFilter ul:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 47px;
    width: 1px;
    height: 20px;
    margin-left: 5px;
    border-right: 1px solid rgba(117, 117, 117, 0.3);
  }
  #searchFilter ul li {
    display: none;
    float: left;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    margin-top: 10px;
  }
  #searchFilter ul li:hover {
    width: 100%;
    height: 100%;
    color: #FA7950;
    font-weight: 700;
  }
  #searchFilter ul li > button {
    display: block;
    width: 100%;
    height: 100%;
  }
  #searchFilter ul li > button:hover {
    width: 100%;
    height: 36px;
    color: #FA7950;
    font-weight: 700;
  }
  #searchFilter ul li.on {
    display: block;
  }
  #searchFilter ul li:first-child {
    margin-top: 0;
  }

  #subSearchBox #searchBookBox {
    float: left;
    width: calc(100% - 40px);
    height: 36px;
    text-indent: 10px;
    outline: none;
  }
  #subSearchBox #searchBookBox:focus {
    border-radius: 10px;
    background-color: #eee;
  }
  #subSearchBox .searchButton {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #1B2C7A;
  }
  #subSearchBox .searchButton > i {
    color: #fff;
  }
}
@media all and (min-width: 1280px) {
  #subSearchBox .subsearch_inner {
    width: 816px;
    height: 40px;
    margin: auto;
    padding: 2px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #searchFilter {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 158px;
    height: 36px;
    border: 0;
    text-align: center;
    background-color: transparent;
    margin-right: 10px;
    border-radius: 10px;
  }
  #searchFilter ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
  }
  #searchFilter ul::after, #searchFilter ul:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 1px;
    height: 20px;
    margin-left: 5px;
    border-right: 1px solid rgba(117, 117, 117, 0.3);
  }
  #searchFilter ul li {
    display: none;
    float: left;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    margin-top: 10px;
  }
  #searchFilter ul li > button {
    display: block;
    width: 100%;
    height: 100%;
  }
  #searchFilter ul li > button:hover {
    width: 100%;
    height: 36px;
    color: #FA7950;
    font-weight: 700;
  }
  #searchFilter ul li.on {
    display: block;
  }
  #searchFilter ul li:first-child {
    margin-top: 0;
  }

  #subSearchBox #searchBookBox {
    float: left;
    width: 600px;
    height: 36px;
    text-indent: 10px;
    outline: none;
  }
  #subSearchBox #searchBookBox:focus {
    border-radius: 10px;
    background-color: #eee;
  }
  #subSearchBox .searchButton {
    float: right;
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #1B2C7A;
  }
  #subSearchBox .searchButton > i {
    color: #fff;
  }
}

/* bookConBox================================================= */
@media all and (max-width: 767px) {
  #bookConBox {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .bookcon_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .bookcon_inner .bookcon_area {
    width: calc(100% - 6.25vw);
    max-width: 450px;
    height: 340px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .bookcon_inner .bookcon_area a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  #bookConBox .bookcon_img {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #bookConBox .extract_content {
    overflow: hidden;
    width: 100%;
    height: 55px;
    text-align: left;
    font-size: 18px;
    font-family: "KoPub Batang";
    border-bottom: 2px solid #FA7950;
    text-overflow: ellipsis;
  }
  .explanation_content {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .explanation_content dt {
    float: left;
    width: 60px;
    height: 40px;
    line-height: 40px;
    margin-right: 6px;
    text-align: left;
    font-weight: 600;
  }
  .explanation_content dd {
    float: left;
    overflow: hidden;
    width: calc(100% - 66px);
    height: 40px;
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    text-overflow: ellipsis;
  }
  .explanation_content dd:last-child {
    border: none;
  }

  #bookConBox .bookcon_area > a:hover {
    outline: 2px solid #757575;
  }
  #bookConBox .bookcon_area > a:focus {
    background-color: #eee;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #bookConBox {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .bookcon_inner {
    width: 610px;
    height: auto;
    margin: 0 auto;
  }

  #bookConBox .bookcon_area {
    width: 100%;
    height: 330px;
    margin-bottom: 24px;
  }
  #bookConBox .bookcon_area:nth-last-child(2) {
    margin-bottom: 0;
  }
  #bookConBox .bookcon_area a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #bookConBox .bookcon_img {
    float: left;
    width: 220px;
    height: 100%;
    border-radius: 10px;
    background-color: #daa;
  }
  #bookConBox .bookcon_text {
    float: left;
    padding-top: 5px;
    margin-left: 30px;
    width: 300px;
    height: 100%;
  }
  #bookConBox .extract_content {
    overflow: hidden;
    width: 100%;
    height: 55px;
    text-align: left;
    font-size: 18px;
    font-family: "KoPub Batang";
    margin-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px solid #FA7950;
    text-overflow: ellipsis;
  }
  #bookConBox .explanation_content {
    width: 100%;
    height: auto;
  }
  #bookConBox .explanation_content dt {
    float: left;
    width: 60px;
    height: 35px;
    line-height: 35px;
    margin-right: 6px;
    text-align: left;
    font-weight: 600;
  }
  #bookConBox .explanation_content dd {
    float: left;
    overflow: hidden;
    width: calc(100% - 66px);
    height: 35px;
    line-height: 35px;
    text-align: left;
    text-overflow: ellipsis;
  }
  #bookConBox .bookcon_area > a:hover {
    outline: 2px solid #757575;
  }
  #bookConBox .bookcon_area > a:focus {
    background-color: #eee;
  }
}
@media all and (min-width: 1280px) {
  #bookConBox {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #bookConBox .bookcon_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1144px;
    height: auto;
    margin: auto;
  }
  #bookConBox .bookcon_area {
    width: 560px;
    height: 330px;
    margin-bottom: 24px;
  }
  #bookConBox .bookcon_area:nth-last-child(2) {
    margin-bottom: 0;
  }
  #bookConBox .bookcon_area a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #bookConBox .bookcon_img {
    float: left;
    width: 220px;
    height: 100%;
    border-radius: 10px;
    background-color: #daa;
  }
  #bookConBox .bookcon_text {
    float: right;
    padding-top: 5px;
    width: 300px;
    height: 100%;
  }
  #bookConBox .extract_content {
    overflow: hidden;
    width: 100%;
    height: 55px;
    text-align: left;
    font-size: 18px;
    font-family: "KoPub Batang";
    margin-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px solid #FA7950;
    text-overflow: ellipsis;
  }
  #bookConBox .explanation_content {
    width: 100%;
    height: auto;
  }
  #bookConBox .explanation_content dt {
    float: left;
    width: 60px;
    height: 35px;
    line-height: 35px;
    margin-right: 6px;
    text-align: left;
    font-weight: 600;
  }
  #bookConBox .explanation_content dd {
    float: left;
    overflow: hidden;
    width: calc(100% - 66px);
    height: 35px;
    line-height: 35px;
    text-align: left;
    text-overflow: ellipsis;
  }
  #bookConBox .bookcon_area > a:hover {
    outline: 2px solid #757575;
  }
  #bookConBox .bookcon_area > a:focus {
    background-color: #eee;
  }
}

/* pageBtn================================================= */
@media all and (max-width: 767px) {
  #pageBtn {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
  .pagebtn_inner {
    width: 310px;
    height: 40px;
    margin: auto;
  }
  .pagebtn_inner ul {
    float: left;
    width: auto;
    height: 40px;
  }
  .pagebtn_inner ul li {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  #pageBtn .pagebtn_inner .sub_next_btn {
    float: right;
  }
  #pageBtn .next_btn_detail {
    margin-right: 0;
  }
  #pageBtn .end_btn_detail, #pageBtn .start_btn_detail {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #pageBtn .sub_page_btn li:nth-last-child(-n+5) {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #pageBtn .pagebtn_inner button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #pageBtn .pagebtn_inner button:hover {
    background-color: #EB4C38;
    color: #fff;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #pageBtn {
    width: 100%;
    height: 180px;
    padding-top: 55px;
  }
  .pagebtn_inner {
    width: 600px;
    height: 40px;
    margin: auto;
  }
  .pagebtn_inner ul {
    float: left;
    width: auto;
    height: 40px;
  }
  .pagebtn_inner ul li {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  #pageBtn .pagebtn_inner .sub_next_btn {
    float: right;
  }
  #pageBtn .next_btn_detail {
    margin-right: 0;
  }
  #pageBtn .end_btn_detail, #pageBtn .start_btn_detail {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  #pageBtn .pagebtn_inner button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #pageBtn .pagebtn_inner button:hover {
    background-color: #EB4C38;
    color: #fff;
  }
}
@media all and (min-width: 1280px) {
  #pageBtn {
    width: 100%;
    height: 180px;
    padding-top: 55px;
  }
  #pageBtn .pagebtn_inner {
    width: 690px;
    height: 40px;
    margin: auto;
  }
  #pageBtn .pagebtn_inner ul {
    float: left;
    width: auto;
    height: 100%;
  }
  #pageBtn .pagebtn_inner .sub_next_btn {
    float: right;
  }
  #pageBtn .pagebtn_inner li {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  #pageBtn .sub_prev_btn li {
    float: right;
  }
  #pageBtn .sub_next_btn li:last-child {
    margin-right: 0;
  }
  #pageBtn .pagebtn_inner button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  #pageBtn .pagebtn_inner button:hover {
    background-color: #EB4C38;
    color: #fff;
  }
}

#footBox {
  width: 100%;
  height: auto;
}
@media all and (max-width: 767px) {
  #footBox .link_inner {
    width: 100%;
    height: auto;
    padding: 5px 0;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 100%;
    height: auto;
  }
  #footBox .footer_nav {
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #footBox .footer_nav li {
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:focus {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .sns_link {
    display: none;
  }
  .company_address {
    width: 100%;
    height: auto;
    color: #333;
    padding: 10px 0;
  }
  .company_address address {
    width: auto;
    height: auto;
  }
  .company_address address p {
    display: none;
  }
  .company_address address p:last-child {
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox .link_inner {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 100%;
    height: auto;
  }
  #footBox .footer_nav {
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #footBox .footer_nav li {
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:hover {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .footer_nav a:focus {
    transform: scale(1.05);
  }
  #footBox .sns_link {
    display: none;
  }
  #footBox .company_address {
    width: 100%;
    height: auto;
    color: #333;
    margin: 0 auto;
    padding: 20px 0;
  }
  #footBox address {
    width: 100%;
    height: auto;
  }
  #footBox address p {
    width: 100%;
    height: 100%;
    color: #333;
    margin-bottom: 5px;
  }
  #footBox address p:last-child {
    margin-bottom: 0;
  }
}
@media all and (min-width: 1280px) {
  #footBox .link_inner {
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: #333;
  }
  #footBox .footer_link {
    width: 1144px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #footBox .footer_link > div {
    height: 30px;
    margin-top: 15px;
  }
  #footBox .footer_nav {
    float: left;
    width: auto;
    height: 100%;
  }
  #footBox .footer_nav ul {
    width: 100%;
    height: 100%;
  }
  #footBox .footer_nav li {
    float: left;
    width: auto;
    height: 100%;
    margin-right: 20px;
    line-height: 30px;
  }
  #footBox .footer_nav li:last-child {
    margin-right: 0;
  }
  #footBox .footer_nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }
  #footBox .footer_nav a:hover {
    font-weight: 700;
    background-color: #666;
    border-radius: 10px;
  }
  #footBox .sns_link {
    float: right;
    width: 270px;
    height: auto;
  }
  #footBox .sns_link ul {
    width: 100%;
    height: 30px;
  }
  #footBox .sns_link li {
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 30px;
    background-color: #fff;
  }
  #footBox .sns_link li:last-child {
    margin-right: 0;
  }
  #footBox .company_address {
    width: 1144px;
    height: auto;
    color: #333;
    margin: 0 auto;
    padding: 60px 0;
  }
  #footBox address {
    width: 100%;
    height: auto;
  }
  #footBox address p {
    width: 100%;
    height: 100%;
    color: #333;
    margin-bottom: 5px;
  }
  #footBox address p:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=sub_newbook.css.map */
