#wrap{
  width: 100%; height: auto;
  margin: auto;
}


/* headBox
============================================================================== */
#headBox{
  position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; z-index: 1000;
  width: 100%; height: 100px;
  padding: 20px;
  background-color: transparent;
}
  .head_inner{
    position: relative;
    width: 1100px; height: 60px;
    margin: auto;
  }
    h1{
      float: left;
      width: auto; height: 60px;
      font-weight: 900; font-size: 40px; line-height: 60px;
      color:#fff;
    }
        .gnb_btn, .search_btn{
        position:absolute; top: 5px; z-index: 100;
        width: 50px; height: 50px;
        background-color: #aaa;
      }
      .gnb_btn{right: 0;}
      .search_btn{right:70px;}
      

        .gnb_wrapper{width: 100%; height: auto;}
        .search_wrapper{width: 100%; height: 50px;}
/* #gnbBox-------------------------------------------------------------------- */
      #gnbBox{
        display: none;
        position:fixed; left: 0; top: 0; z-index: 900;
        width: 100%; height: 100%;
      }
        .gnb_wrapper{
          position: absolute; top: 0; left: 50%;  margin-left: -550px;
          width: 1100px; height: auto;
        }
          .gnb_inner{
            width: 100%; height: auto;
            padding-top: 100px;
            color: #fff;
          }
            .gnb_inner>li{
              float: left;
              width: 200px; height: 527px;
              margin-right: 25px;
              background-color: #aad;
            }
            .gnb_inner>li:last-child{
              margin-right: 0;
            }
              .gnb_inner_title{
                width: 100%; height: auto;
              }
                .gnb_inner_title a{
                  display: block;
                  width: 100%; height: 50px;
                  border-bottom: 2px solid #fff;
                  background-color: #faf;
                  }
              .gnb_inner_con{
                width: 100%; height: auto;
              }
                .gnb_inner_con a{
                  display: block;
                  width: 100%; height: 55px;
                  text-indent:10px;
                  border-bottom: 1px solid #fff;
                  background-color: #aaa;
                }
                .gnb_sns{
                  width: 100%; height: auto;
                  text-indent:10px;
                  padding: 2px; padding-left:30px;
                  background-color: #a5a;
                }
                  .gnb_sns a{
                    float: left;
                    width: 30px; height: 30px;
                    margin-right: 4px;
                    background-color: #333;
                  }
                  .gnb_sns li:last-child a{margin-right: 0;}
          #gnb_close{
            position: absolute; top: 25px; right: 0;
            width: 50px; height: 50px;
          }
            #gnb_close button{
              width: 100%; height: 100%;
              background-color: #add;
            }
      .gnb_bg{
        width: 100%; height: 100%;
        background-color: #333;
      }
  
    /* searchBox----------------------------------------- */
    .searchBox{
      display:none;
      position: absolute; top: 5px; right: 70px; z-index: 900;
      width: 500px; height: 50px;
    }
    .searchBox fieldset{
      width: 100%; height: 100%;
    }
    /* .searchBox legend{} */
    /* .searchBox label{} */
    #search_area{
      float: left;
      width: 430px; height: 50px;
      text-indent: 20px;
      border-bottom:3px solid #aad;
    }
    .search_img{
      float: right;
      width: 50px; height: 50px;
      background-color: #aaa;
    }

/* subNavBox================================================= */
#subNavBox{
  width: 100%; height: 400px; padding-top: 310px;
  background-color: #333;
}
.subnav_inner{
  width: 1100px; height: auto;
  margin: auto;
}
.breadcrumb{
  width: auto; height: auto; 
  margin-bottom: 15px; padding-left: 10px;
}
.breadcrumb p, .breadcrumb i{
  float: left;
  width: auto; height: auto;
  margin-right: 5px;
  font-size: 14px; line-height: 14px; color:#fff;
}



.nav_list{
  position: relative; z-index: 10;
  float: left; 
  width: 160px; height: auto; min-height: 40px;
  margin-right: 40px;
}

.nav_title{
  position: absolute; top: 0; left: 0;
  width: 160px; height: 40px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.7);
}
.nav_title_con{
  display: none;
  position: absolute; top: 0; left: 0; z-index: -1;             
  width: 160px; height: 280px;
  padding-top: 40px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);
}
.nav_title_con li{
  width: 100%; height: 40px;
}
.nav_list a{
  display: block;
  width: 100%; height: 100%;
  text-align: center; line-height: 40px;
}
.nav_list:hover .nav_title_con,.nav_list:focus-within .nav_title_con{display: block;}
.nav_list a:hover{background-color: #ccc ; border-radius: 10px;}
.nav_list a:focus{outline: none; background-color: #666; color:#fff; border-radius: 10px;}



.nav_list_sub{
  float: left;
  width: auto; height: 40px;
}
.nav_list_sub li{
  float: left;
  width: auto; height: 100%; 
  margin-right: 10px;
}
.nav_list_sub li:last-child{margin-right: 0;}
.nav_list_sub a{
  display: block;
  width: auto; height: 100%;
  padding: 0 20px;
  text-align: center; line-height: 40px; color:#fff; 
  border-radius: 10px;
}
.nav_list_sub a:hover{background-color: #EB4C38;}
.nav_list_sub a:focus{outline: none; background-color: rgba(0,0,0,0.3); font-weight: 700; }


/* subSearchBox================================================= */
#subSearchBox{
  width: 100%; height: 160px;
  padding: 60px 0;
}
.subsearch_inner{
  width: 816px; height: 40px;
  margin:auto; padding: 2px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
#searchFilter{
  position: relative;
  float: left;
  width: 158px; height: 36px;
  border: 0; 
  text-align: center;
  background-color: transparent;
}
#searchBookBox{
  float: left;
  width: 610px; height: 36px;
  text-indent: 10px;
  outline: none;
}
#searchBookBox:focus{border-radius: 10px; background-color: #eee;}
#searchButton{
  float: right;
  width: 36px; height: 36px;
  border-radius: 10px;
  background-color: #1B2C7A;
}

/* bookConBox================================================= */
#bookConBox{
  width: 100%; height: 1790px;
  padding-top: 20px;
}
.bookcon_inner{
  width: 1144px; height: auto;
  margin:auto;
}
.bookcon_area {
  float: left;
  width: 560px; height: 330px;
  margin-right: 24px; margin-bottom: 24px;
}
.bookcon_area:nth-child(2n){
  margin-right: 0;
}
.bookcon_area:nth-last-child(2){
  margin-bottom: 0;
}
.bookcon_area a{
  display: block;
  width: 100%; height: 100%;
  padding: 12px; box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.bookcon_img{
  float: left;
  width: 220px; height: 100%;
  border-radius: 10px;
  background-color: #daa;
}
.bookcon_text{
  float: right;
  padding-top: 5px;
  width: 300px; height: 100%;
}
.bookcon_text p{
  width: 100%; height: 42px;
  text-align: left; font-size: 18px; font-family: 'KoPub Batang';
  margin-bottom: 10px;
  background-color: #aaa;
}
.bookcon_text dl{
  width: 100%; height: auto;
}
.bookcon_text dt{
  float: left;
  width: 60px; height: 40px;
  margin-right: 6px;
  text-align: left; font-weight: 600;
  background-color: #aaa;
}
.bookcon_text dd{
  float: left;
  width: calc(100% - 66px); height: 40px;
  text-align: left;
  background-color: #ccc;
}
.bookcon_area > a:hover{outline:2px solid #757575;}
.bookcon_area > a:focus{background-color: #eee;}


/* pageBtn================================================= */
#pageBtn{
  width: 100%; height: 180px;
  padding-top: 55px;
}
.pagebtn_inner{
  width: 690px; height: 40px;
  margin:auto;
}
.pagebtn_inner ul{
  float: left;
  width: auto; height: 100%;
}
.pagebtn_inner .sub_next_btn{
  float: right;
}
.pagebtn_inner li{
  float:left;
  width: 40px; height: 40px;
  margin-right: 10px;
}
.sub_prev_btn li{float: right;}
.sub_next_btn li:last-child{margin-right: 0;}
.pagebtn_inner button{
  display: block;
  width: 100%; height: 100%;
  border-radius:10px;
  background-color: #fff; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.pagebtn_inner button:hover{
  background-color: #EB4C38; color:#fff;
}


/* footBox
============================================================================== */
#footBox{
  width: 100%; height: auto;
}
  .link_inner{
    width: 100%; height: 60px;
    margin: auto;
    background-color: #333;
  }
  .footer_link{
    width: 1144px; height: 100%;
    margin: 0 auto; margin-bottom: 40px;
  }
    .footer_link > div{
      height: 30px; margin-top: 15px;
    }
    .footer_nav{
      float: left;
      width: auto; height: 100%;
    }
    .footer_nav ul{
      width: 100%; height: 100%;
    }
      .footer_nav li{
        float:left;
        width: auto; height: 100%;
        margin-right: 20px;
        line-height: 30px;
      }
      .footer_nav li:last-child{margin-right: 0;}
      .footer_nav a{
        display: block; 
        width: 100%; height: 100%;
        text-align: center;  color:#fff;
        padding: 0 5px;
      }
      .footer_nav a:hover{background-color: #666; border-radius: 10px; }
      .footer_nav a:focus{ font-weight: 700; background-color: #555; border-radius: 10px;  }


    .sns_link{
      float:right;
      width: 270px; height: auto;
    }
    .sns_link ul{
      width: 100%; height: 30px;
    }
      .sns_link li{
        float: left;
        width: 30px; height: 100%;
        margin-right: 30px;
        background-color: #fff;
      }
      .sns_link li:last-child{margin-right: 0;}

  .company_address{
  width: 1144px; height: auto;
  color:#333;
  margin: 0 auto; padding: 60px 0;
  }
    address{width: 100%; height: auto;}
      address p{width: 100%; height: 100%; color:#333; margin-bottom: 5px;}
      address p:last-child{margin-bottom: 0;}
