:root{
  font-size:16px;
}


// color ===============================================
$color_primary1:#1B2C7A;
$color_promary2:#EB4C38;
$color_skyblue:#73A4EF;
$color_light_gray:#757575;
$color_deep_gray:#505050;
$color_black:#333333;
$color_blackReal:#000000;
$color_white:#fff;
$color_gray_op:rgba(117, 117, 117, 0.1);
$color_gray_op2:rgba(117, 117, 117, 0.3);
$color_black_op:rgba(0, 0, 0, 0.7);
$color_white_op:rgba(255,255,255,0.7);


$font_family_en : ('Roboto', sans-serif);
$font_family_ko : ('nanumsquare', 'KyoboHandwriting2020A', serif);
$font_weight:(300,400,500,700);
$font_size:(
h2:38px, h3:30px, content1:22px, content2:18px, content3:16px, content4:12px, book1:24px, book2:18px
);

//design

$shadow : 0px 5px 10px rgba(0,0,0,0.1);


//imgPath
$link_snsImg : ('logo_youtube.png','logo_twitter.png','logo_facebook.png','logo_instagram.png', 'logo_navercafe.png' );


$link_viewPartImg : ('bookImg01.jpg','bookImg02.jpg','bookImg03.jpg', 'bookImg04.jpg','bookImg05.jpg','bookImg06.jpg');
$link_mdpickImg : ('bookImg07.jpg','bookImg08.jpg','bookImg09.jpg', 'bookImg11.jpg','bookImg12.jpg','bookImg22.jpg','bookImg13.jpg','bookImg14.jpg','bookImg15.jpg','bookImg16.jpg');
$link_newbookImg : ('bookImg17.jpg','bookImg18.jpg','bookImg19.jpg', 'bookImg20.jpg','bookImg21.jpg','bookImg22.jpg','bookImg23.jpg','bookImg24.jpg','bookImg25.jpg','bookImg26.jpg','bookImg27.jpg');
$link_dokpaImg : ('bookImg28.jpg','bookImg29.jpg','bookImg30.jpg', 'bookImg31.jpg','bookImg32.jpg','bookImg33.jpg','bookImg34.jpg','bookImg35.jpg','bookImg36.jpg');
$link_awardImg : ('bookImg37.jpg', 'bookImg38.jpg', 'bookImg39.jpg', 'bookImg40.jpg', 'bookImg41.jpg');
$link_bookclubImg : ('bookclubImg01.png', 'bookclubImg02.jpg', 'bookclubImg03.jpg', 'bookclubImg04.png', 'bookclubImg05.png','bookclubImg06.png','bookclubImg07.png','bookclubImg08.png');
$link_magazineImg : ('bookImg42.jpg', 'bookImg43.jpg', 'bookImg44.jpg', 'bookImg45.jpg', 'bookImg46.jpg');
$link_brandlistImg : ('brandlistImg01.png','brandlistImg02.png','brandlistImg03.png','brandlistImg04.png','brandlistImg05.png','brandlistImg06.png','brandlistImg07.png','brandlistImg08.png','brandlistImg09.png','brandlistImg10.png','brandlistImg11.png','brandlistImg12.png','brandlistImg13.png','brandlistImg14.png','brandlistImg15.png','brandlistImg16.png','brandlistImg17.png','brandlistImg18.png','brandlistImg19.png','brandlistImg20.png','brandlistImg21.png','brandlistImg22.png','brandlistImg23.png','brandlistImg24.png');

//sub
$link_subNewBook : ('bookImg01.jpg','bookImg02.jpg','bookImg03.jpg', 'bookImg04.jpg','bookImg05.jpg','bookImg06.jpg','bookImg07.jpg', 'bookImg08.jpg','bookImg09.jpg','bookImg10.jpg');
$link_subSaleSite : ('logo_salebook1.png','logo_salebook2.png','logo_salebook3.png','logo_salebook4.png');
$link_subBookShopImg : ('bookImg01.jpg','bookImg02.jpg','bookImg03.jpg', 'bookImg04.jpg','bookImg05.jpg','bookImg06.jpg','bookImg07.jpg', 'bookImg08.jpg','bookImg09.jpg','bookImg10.jpg','bookImg11.jpg','bookImg12.jpg');

// device size===============================================
$mobile : 320px;
$tablet : 768px;
$laptop : 1280px;
$pc:1921px;
// $pcfull : 1920px;

// slide content -
$view_slide: 6 ;
$mdpick_tab_slide:10;
$newbook_slide:11;
$dokpa_content:8;
$award_slide:5;
$magazine_slide:5;
$wabzine_slide:3;
$brandlist_slide:23;


//sub
$sub_newbookCon:10;
$sub_bookShop:12;